[2021-02-11 20:34] stefanocke commented on #3036
Okay, so approximately my plan would be to make the extension a Sisu / Guice / JSR-330 component and to inject it into the jib plugin instead of creating it by using the service loader.

Pretty much as the `Jsr330Component` in the example on https://maven.apache.org/maven-jsr330.html

I am not sure yet, if jib has completely move from plexus to Sisu / Guice / JSR-330 then or if it is possible to m

[2021-02-11 20:53] chanseokoh commented on #3036
Thanks for looking into it! I think I am not following all the technical stuff you said (😅 hopefully it's easy to implement and doesn't incur a lot of changes). However, At least I can say requiring 3.1.0+ is OK. I see [3.1.0 was released in 2015](https://maven.apache.org/docs/history.html).

[2021-02-11 21:07] chanseokoh commented on #3053
Was for testing.

[2021-02-11 21:07] #3053 closed

[2021-02-12 07:45] alexbde commented on #3049
Thank you very much for pointing out difference between cache and configuration files! Makes no difference in my case, just as you pointed out, so I'll set `$XDG_CONFIG_HOME`. Great it makes it to the docs in the next release.

Just as side note: root cause of question mark (`?`) directory is `$HOME` is not set correctly via Maven/JVM (see [this article](https://support.cloudbees.com/hc/en-us/arti

[2021-02-12 15:46] GianniGiglio opened #3054 "Jib-gradle-plugin jib.httpTimeout not taken into account"
**Environment**:

- *Jib version: 2.6.0*
- *Build tool:* gradle 6.7

**Description of the issue**:

Getting the following error when building:

`15:27:50  Container entrypoint set to [java, -XX:MaxMetaspaceSize=512m, -Djava.security.egd=file:/dev/./urandom, -javaagent:/app/WEB-INF/lib/otel-javaagent.jar, -Dotel.instrumentation.jdbc-datasource.enabled=false, -Dotel.instrumentation.servlet-filter.en

[2021-02-12 15:59] chanseokoh commented on #3054
Hi @GianniGiglio, what's the exact command on the command-line you used?

And I don't know if this is relevant in your case, but often there are other layers imposing network timeout, typically a kernel. From https://github.com/GoogleContainerTools/jib/issues/2014#issuecomment-534610778,

[2021-02-12 16:00] chanseokoh commented on #3054
Never mind the command. I see you set it in `gradle.properties`.

[2021-02-12 16:03] GianniGiglio commented on #3054
I'll check that.

[2021-02-12 16:04] chanseokoh commented on #3054
If you want to set a system property, it should be
[code]
https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_system_properties

I verified that `jib.httpTimeout` takes effect.

[2021-02-12 16:05] chanseokoh commented on #3054
And an easy way to verify if it takes effect is to set the timeout to 1 sec. Most of the time, you'll timeout immediately.

[2021-02-12 16:47] chanseokoh commented on #3021
@manju-bala any update on this?

[2021-02-14 09:53] stefanocke commented on #3036
@chanseokoh , I have implemented the approach in the commit above. It is IMHO complete compatible and optional. If the extension is not injected, the plugin still uses the existing JDK service loader approach to create it.

Basically the solution comes down to inject the extensions into the MOJO like this:
[code]

The extension itself just needs to declare itsfelf as a JSR-330 / Sisu Component by

[2021-02-15 11:58] echupriyanov opened #3057 "Failed to publish image with new tag to Sonatype Nexus3 v3.29.2"
**Environment**:

- *Jib version:* 2.7.1
- *Build tool:* Maven
- *OS:* Alpine Linux in container

**Description of the issue**:
 We are building Docker images and publish them to the Nexus Docker Registry as a part of CI process.
Registry is configured with disabled redeployment, and our images are uniquely tagged with pipeline id, to avoid confusion with image/app versions.

But, even with unique

[2021-02-15 12:15] echupriyanov commented on #3057
Note: [kaniko](https://github.com/GoogleContainerTools/kaniko) is working perfectly in the same setup

[2021-02-15 16:06] daxroc opened #3058 "Regression HTTPS verification javax.net.ssl.SSLPeerUnverifiedException on docker layer pull"
On upgrade to 2.7.1 a dependency change breaks host verification for docker pull

Change seen within the http request trace

[code]

[code]

This is possibly a host verification regression.

**Environment**:

- *Jib version: 2.7.1
- *Build tool: Gradle v6.7.1
- *OS: Ubuntu-16.04 + Ubuntu 20.04
- *JAVA 8, JAVA 11

**Description of the issue**:
Pulling of image fails on hostname verification

[code]

[2021-02-16 11:17] GianniGiglio commented on #3054
Hey,
The jib.httpTimout option works when passing directly to the task but it doesn't work when it's specified in the gradle.properties

[2021-02-16 14:39] chanseokoh commented on #3054
I did verify that specifying it in `gradle.properties` works in a sample project. (If you need proof, I can provide it.) Are you sure you added the `systemProp.` prefix?

Anyways, I think now this seems like an issue in Gradle configuration or a project setup. Maybe ask on a Gradle forum why system properties can't be set via `gradle.properties`? I'll close the issue as Jib is working correctly an

[2021-02-16 14:39] #3054 closed

[2021-02-16 15:32] chanseokoh commented on #3057
Hi @echupriyanov,

We learned in the past that disabling redeployment in Sonatype Nexus prevents updating any assets, including existing images (technically speaking, "image manifests", which are simple JSON files). Using a fresh new tag doesn't matter, because the asset in question is the manifest.

What's happening in your case is that, because of Jib's strong reproducibility, consecutive Jib bu

[2021-02-16 15:32] #3057 closed

[2021-02-16 15:49] GianniGiglio commented on #3054
I'll have to test it using systemProp. Anyway, I have a workaround for now.

[2021-02-16 16:00] chanseokoh commented on #3054
It's [how Gradle works](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_system_properties). There are notions of "[Gradle properties](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_configuration_properties)" and JVM-wide "[system properties](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_system_properties)."

Als

[2021-02-16 18:16] echupriyanov commented on #3057
Great thanks for clarification! Will try suggested workarounds

[2021-02-17 18:22] chanseokoh commented on #3036
Thanks a lot for doing this! We'll get back to this as soon as we have time, but please be patient until then.

[2021-02-17 21:33] chanseokoh commented on #3058
@daxroc thanks for the report. But there's something that doesn't fit.

According to the [Apache httpcomponents:httpclient release notes](https://archive.apache.org/dist/httpcomponents/httpclient/RELEASE_NOTES-4.5.x.txt), 4.5.12 should fix the regression.

[code]

And according to the [google-http-java-client 1.35.0 release note](https://github.com/googleapis/google-http-java-client/releases/tag/v

[2021-02-18 11:18] vinod-tahelyani commented on #2814
@chanseokoh I would like to help in this. I have researched a bit and found that, we can get credentials specific to AWS_PROFILE by setting AWS_PROFILE=profile-foo, before calling start in https://github.com/GoogleContainerTools/jib/blob/9f4c93cf6b66cc67b674ff8f574892c1bf148c7a/jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialHelper.java#L134

something like
[

[2021-02-18 14:57] vinod-tahelyani commented on #2764
@chanseokoh I would like to take this.
One simple solution that I have is to replace `"\u001B[36m"` and `"\u001B[0m"` with `""`, here
https://github.com/GoogleContainerTools/jib/blob/9f4c93cf6b66cc67b674ff8f574892c1bf148c7a/jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/GradleProjectProperties.java#L339

or if there is any way to access ConsoleOutput from https://github.com/Goog

[2021-02-18 15:38] sforner405 opened #3059 "Getting manifest for base image uses Proxy even if it is set in nonProxyHosts"
**Environment**:

- *Jib version:* 2.7.1
- *Build tool:* Maven
- *OS:* Ubuntu (Official 3.6.3 Docker Image with openjdk 11) running on Jenkins as agent

**Description of the issue**:

Timeout while Getting manifest for base image. It still uses proxy, but it was set as nonProxyHost in settings.xml and jvm.config  .

**Expected behavior**:

Should honor proxy settings.

**Steps to reproduce**:

  1

[2021-02-18 15:51] #3041 closed

[2021-02-18 20:01] chanseokoh commented on #3059
Hi @sforner405,

It works. You can follow the exact commands below to confirm yourself.
[code]

One hypothesis why it's not working in your case: the way Jib supports proxy settings defined in `settings.xml` is by reading the values and setting the [JVM-wide standard networking system properties](https://docs.oracle.com/javase/8/docs/api/java/net/doc-files/net-properties.html) (such as `http(s).pr

[2021-02-18 21:02] chanseokoh commented on #3058
Actually, what you see from [`./gradlew buildEnv` can be deceptive](https://discuss.gradle.org/t/version-is-root-build-gradle-buildscript-is-overriding-subproject-buildscript-dependency-versions/20746/3). Is this a multi-module project? If so, also check out [this FAQ](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-am-seeing-method-not-found-or-class-not-found-errors-when-bu

[2021-02-18 21:31] sforner405 commented on #3059
Hi @chanseokoh,
thanks for the answer.
This seems to be one part of the solution, as they show why the settings are not working.
But if I run your example with :

`mvn  -Dhttp.nonProxyHosts="*.io" -Dhttps.proxyHost=proxy.test.example.com -Dhttps.proxyPort=3128 -Djib.from.image=alpine -Djib.to.image=test-image compile jib:dockerBuild`

I get the error. It seems -Dhttp.nonProxyHosts="*.io" does not

[2021-02-18 21:47] sforner405 commented on #3059
Just rechecked.

If I run:
`mvn -Dhttp.nonProxyHosts="*.io|*.com" -Dhttps.proxyHost=proxy.test.example.com -Dhttps.proxyPort=3128 -Djib.from.image=alpine -Djib.to.image=test-image compile jib:dockerBuild`

It works.
So it should be fine from your side.
Thanks!

[2021-02-19 07:45] tstavinoha commented on #2021
Hello, since this discussion is still open, I'd like to present another potential use case (and a solution).

We have a service which hosts static web resources (html, css, js). These resources are either a part of the project itself or they are bundled in other jars (similar to how webjars work). The default Spring MVC behavior while hosting these files is to read their modification time and pres

[2021-02-19 12:56] yrashish opened #3061 "Jib creates two images with mvn jib:dockerBuild"
I am not sure if this a feature or something but if I try to build to local Docker daemon using the `mvn jib:dockerBuild` command than it produces two images. No idea why two images are created here.

time mvn compile jib:dockerBuild
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< com.compare:imagebuilder >----------------------
[INFO] Building imagebuilder 0.0.1-SNAPSHOT
[IN

[2021-02-19 13:06] yrashish commented on #3061
My bad. It works are expected.

[2021-02-19 13:06] #3061 closed

[2021-02-19 15:36] chanseokoh commented on #3059
Thanks for the update. So, is the issue resolved? Have you figured out why it's not working in your environment?

[2021-02-19 22:44] chanseokoh commented on #3058
@daxroc any update on this? We plan to make a release soon, and so far, it doesn't seem like we need to downgrade the Google HTTP Client with the new release. This looks like a project configuration issue in your project.

[2021-02-19 22:48] chanseokoh commented on #3027
As commented earlier, it's out of the scope of Jib. I'm closing the issue, but anyone, feel free to give us feedback.

[2021-02-19 22:48] #3027 closed

[2021-02-19 22:49] chanseokoh commented on #3021
Closing the issue due to long inactivity. But as I explained, I'm leaning toward a bug in Artifactory. Please update here if you need further assistance.

[2021-02-19 22:49] #3021 closed

[2021-02-19 23:12] daxroc commented on #3058
Sorry for the delay, I can take another look tomorrow and get back to you.
It is odd local builds succeed, build envs don't unless we downgrade. They
both share the same upstream dependency cache but I'll double check that in
the morning.

On Fri 19 Feb 2021, 22:44 Chanseok Oh, <notifications@github.com> wrote:

[2021-02-20 10:40] sforner405 commented on #3059
@chanseokoh:
Yes the issue is resolved. Had to set the setting additionally in the MAVEN_OPTS (could have been set in as cli param also), because the system settings had another syntax in the http.nonProxyHosts . This is because of another tool that needs commas instead of | to separate hosts .
So setting all the proxy settings explicitly worked.

[2021-02-20 18:11] stefanocke commented on #3036
It needed some polioshing, but now everything should be ready in the pull request.

[2021-02-22 15:17] #3059 closed

[2021-02-22 17:29] mpeddada1 commented on #2764
Hey @vinod-tahelyani, thanks for looking into this! We were thinking that this change could be even more effective if there was a way to filter out any color (not just cyan) in this [the PlainConsoleLogger](https://github.com/GoogleContainerTools/jib/blob/ab0bc65a06d8f1cc6e4ab56d987bbc765b054326/jib-plugins-common/src/main/java/com/google/cloud/tools/jib/plugins/common/logging/PlainConsoleLogger.j

[2021-02-22 18:57] chanseokoh commented on #3058
In your logs, the server in question is `https://docker-images-prod.s3.amazonaws.com`, which is the redirection location when asking for a blob for `amazon/aws-lambda-java`.
[code]
In my previous test on my machine, it didn't redirect to the server. I guess it's possible that locally you are not getting to `/docker-images-prod.s3.amazonaws.com` either. So, in https://github.com/GoogleContainerTool

[2021-02-22 20:14] chanseokoh commented on #2814
@vinod-tahelyani thanks for your interest on this.

What we want is a general way to provide any environment variables when running a credential helper. Maybe something like
[code]
while still maintaining backward compatibility with the current usage: `jib.from.credHelper = 'ecr-login'`.

[2021-02-23 20:37] github-actions[bot] opened #3068 "Plugin Release v2.8.0-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 2.8.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-02-23 20:39] github-actions[bot] opened #3070 "Plugin Release v2.8.0-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 2.8.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-02-24 20:46] chanseokoh commented on #2898
As explained above, neither Sonatype nor Jib seems to cause or hit the issue. Both of them are working fine, and I think the issue is from a different component, but there's no more information. Closing the issue.

[2021-02-24 20:46] #2898 closed

[2021-02-24 20:55] chanseokoh commented on #3042
@tjtaill I know you are already using the [`retry` tool](https://github.com/kadwanev/retry), and I think it's an effective way to achieve retrying with increasing back-offs. But to better support the users hitting the Docker Hub rate limit, we implemented the registry mirror feature, which is now live with the Jib 2.8.0 release. Check out this [FAQ](https://github.com/GoogleContainerTools/jib/blob

[2021-02-24 20:55] #3042 closed

[2021-02-24 20:57] chanseokoh commented on #2933
@dungnt081191 FYI, to better support the users hitting the Docker Hub rate limiting, we implemented the registry mirror feature, which is now live with the Jib 2.8.0 release. Check out this [FAQ](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-am-hitting-docker-hub-rate-limits-how-can-i-configure-registry-mirrors) to learn how to configure it.

[2021-02-24 20:59] chanseokoh commented on #1396
@lxg1208 Jib build plugins 2.8.0 is live with the feature to configure registry mirrors. It should be useful to avoid hitting the Docker Hub rate limiting. Check out this [FAQ](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-am-hitting-docker-hub-rate-limits-how-can-i-configure-registry-mirrors) to learn how to configure it.

[2021-02-24 21:02] chanseokoh commented on #1551
@PavelGloba to better support the users hitting the Docker Hub rate limiting, we implemented the registry mirror feature, which is now live with the Jib 2.8.0 release. Check out this [FAQ](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-am-hitting-docker-hub-rate-limits-how-can-i-configure-registry-mirrors) to learn how to configure it.

[2021-02-24 22:06] tjtaill commented on #3042
Awesome thanks

[2021-02-25 16:47] #3068 closed

[2021-02-25 16:47] #3070 closed

[2021-02-25 17:50] mpeddada1 commented on #2871
Closed with #3075

[2021-02-25 17:50] #2871 closed

[2021-02-26 11:22] SlimenTN commented on #1403
@fjakop how exactly did you `-Dhttp.proxy...=` and `-Dhttps.proxy...=` ?
I'm trying to build docker image within a coporate proxy like so:
`mvn compile jib:dockerBuild` how can I add those attributes to the command ?

[2021-02-26 15:02] chanseokoh commented on #1403
https://docs.oracle.com/javase/8/docs/api/java/net/doc-files/net-properties.html

@SlimenTN like `mvn -Dhttp.proxyHost=my.company.proxy.com -Dhttp.proxyPort=... -Dhttps.proxyHost=... compile ...`.

[2021-02-28 08:59] vinod-tahelyani commented on #2814
@chanseokoh I have linked a PR, which is solution for gradle. Pls look into, if it looks ok then I'll add solution for maven and corresponding test as well.
Thanks

[2021-03-01 10:07] remy-tiitre opened #3094 "Convert Gradle config parameters (such as jib.container.labels) to use lazy evaluation"
Just like there was an issue to make the jib.to.tags and jib.to.auth to be lazyly evaluated I would need to have the container.labels do the same. Even the reason is the same. I use com.gorylenko.gradle-git-properties Gradle plugin and would like to reuse its properties to add labels to my images. Something like that:
[code]
In our case I would make that configuration global and add this snipped t

[2021-03-01 16:01] chanseokoh commented on #3094
Thanks for your feedback! Given the use case, I think making labels (among other parameters) lazily configurable will be very useful.

We also welcome contributions.

Technical notes:
- Going forward, we decided to expose `Property<?>` in [this particular way](https://github.com/GoogleContainerTools/jib/pull/3034#discussion_r581438469) for new parameters. And perhaps this is not possible with exis

[2021-03-02 16:00] chanseokoh commented on #3058
Any update on this?

[2021-03-02 16:18] chanseokoh commented on #3094
As an immediate workaround, I wonder if setting `jib.container.labels` in a `project.afterEvalaute` block can work for the `com.gorylenko.gradle-git-properties` plugin, like [in this way](https://stackoverflow.com/a/59631660/1701388).

[2021-03-02 20:49] dmoebius opened #3101 "jib often fails with "imagestreammappings: the object has been modified""
**Environment**:

- *Jib version:* 2.7.1
- *Build tool:* Gradle 6.7.1
- *OS:* CentOS

**Description of the issue**:

Very often (around every third build) `gradlew jib` fails with:

[code]

**Expected behavior**:

Jib is the only process pushing to our registry, so this shouldn't fail with "the object has been modified".

**`jib-gradle-plugin` Configuration**:
[code]

[2021-03-02 21:01] loosebazooka commented on #3101
is it possible that your instance of openshift is unable to update an existing image tag?

[2021-03-02 21:24] chanseokoh commented on #3101
Looks like an internal sever error (bug) on OpenShift. Most likely a concurrency issue, whose nature may be similar to [#2470](https://github.com/GoogleContainerTools/jib/issues/2470) and [this](https://groups.google.com/g/quay-sig/c/7Pp80zhdgzM/m/DA4u8WGkAAAJ). I suggest filing a bug against OpenShift. If they need help or more information from the Jib side, we can help, as we've done in #2470. T

[2021-03-02 21:29] josephschorr commented on #3101
@chanseokoh I'm no longer affiliated with Red Hat, so my (wildly uninformed) guess is that the OpenShift Registry (which last I checked was backed by Kubernetes itself) might have tried to update the underlying `Image` Kub object after it had already been changed, which would definitely be a bug in that implementation.

I may be wildly off though :)

[2021-03-03 08:23] dmoebius commented on #3101
Many thanks for your answers. :smiley:  I'll try the suggested doings at #2470.

I don't think that our openshift registry is generally unable to update an existing image tag, because most of the time it works after the second retry. Like in #2470 it's probably some kind of concurrency issue. Maybe `jib.serialize=true` helps, but before trying this, I'll try to get some more logging output.

[2021-03-03 15:15] chanseokoh commented on #3101
@dmoebius looks like the error is when concurrently pushing two manifests (corresponds to two tags `latest` and `getenv('DOCKER_IMAGE_TAG')`). As explained [here](https://groups.google.com/g/quay-sig/c/7Pp80zhdgzM/m/DA4u8WGkAAAJ), you can [push the tags sequentially](https://github.com/GoogleContainerTools/jib/issues/2470#issuecomment-631500142), which will be very fast.

But I see that your confi

[2021-03-03 16:43] dmoebius commented on #3101
omg, you're right! No, it's *not* intended, that ":latest" is implied here. I thought Jib would push to _only_ to the specified tags, which is _either_ `getenv('DOCKER_IMAGE_TAG')` (if `DOCKER_IMAGE_TAG` is defined) _or_ "latest". I wasn't aware that the "tags" property only allows to specify _additional_ tags. (The docs say so; I have overlooked this.) Many thanks for the hint!

So, the correct s

[2021-03-04 15:42] GianniGiglio commented on #3054
Yeah correct, just a bit odd to use jvm properties. The Gradle way would be to use project properties instead that's why am confused :)

[2021-03-04 16:44] MartijnDwars commented on #1455
I ran into this as well. Given the ubiquity of Gradle's shadowjar plugin, it would be -really- nice if this would be mentioned in some documentation. Or maybe the plugin could check the version of ASM that it runs with, and print an informative error message before the IllegalArgumentException that ASM produces.

[2021-03-04 17:07] chanseokoh commented on #1455
@MartijnDwars thanks for the feedback. normally Gradle should pick up the most latest versions of a dependency when there are conflicts. However, we learned that it is a [general and recurring issue in Gradle](https://discuss.gradle.org/t/version-is-root-build-gradle-buildscript-is-overriding-subproject-buildscript-dependency-versions/20746) where an old version of a dependency is loaded in multi-

[2021-03-04 17:47] MartijnDwars commented on #1455
Agreed, thanks for the quick reply.

[2021-03-04 19:03] chanseokoh commented on #3054
Oh, I see the confusion. They are [system properties](https://github.com/GoogleContainerTools/jib/tree/master/jib-gradle-plugin#system-properties).

[2021-03-04 19:04] chanseokoh commented on #2470
Marking resolved.

[2021-03-04 19:19] rmannibucau opened #3109 "Be more flexible on jib-core dependencies and drop useless ones"
**Description of the issue**:

Not require so much runtime dependencies (details in next part)

**Expected behavior**:

1. Since java 11 becomes mainstream, using its httpclient is expected (instead of apache one)
2. Jackson is not always desired in particular when you have another mapper. Moving to jsonb spec will enable to use jackson or not very easily (or yasson/johnzon). Goal is to align it o

[2021-03-04 23:09] chanseokoh commented on #3036
Fixed by #3062. This new approach to load Jib extensions (which enables injecting Maven components) will be documented in the [jib-extensions README](https://github.com/GoogleContainerTools/jib-extensions).

[2021-03-04 23:12] #3036 closed

[2021-03-05 14:13] kan-izh opened #3117 "Run "package" and "jib:build" separately in a multimodule maven project"
**Environment**:

- *Jib version:* 2.8.0
- *Build tool:* maven 3.6.2
- *OS:* Windows 10

**Description of the issue**:
When I run "mvn package" and "mvn jib:build" as separate commands, it does not work as it tries to download internal dependency from repository, instead of using local one.

11319 [main] [ERROR] Failed to execute goal on project name-service: Could not resolve dependencies for pro

[2021-03-05 14:37] loosebazooka commented on #3117
Unforuntately this is how maven works, take a look at the readme README, it clearly explains how to correctly run the project: https://github.com/GoogleContainerTools/jib/tree/master/examples/multi-module#how-to-run

[2021-03-05 14:37] #3117 closed

[2021-03-05 16:20] cablespaghetti commented on #1270
Just came across this problem with the jetty:9-jre11-slim image on Docker Hub. I'm using that rather than Distroless for multi-arch (ARM64) support, and for some reason the default entrypoint shell script tries to create a directory in /var/lib/jetty on startup. Here's the properties I add to get everything working:

[code]

Hope it's useful to somebody. :)

[2021-03-05 18:09] kan-izh commented on #2230
Yes, seems it was related to Nexus bug, maybe this one https://issues.sonatype.org/browse/NEXUS-20640

I did not see it after we had Nexus upgraded.

[2021-03-05 19:03] paulolieuthier commented on #3058
Hi @chanseokoh, I can reproduce the problem on my build servers, just like @daxroc described, using 2.7.1 or 2.8.0. 2.7.0 works fine. This is the result of `./gradlew buildEnv`:
[code]

[2021-03-05 19:51] chanseokoh commented on #3058
Can you also share the output when it is 2.7.0?

And is this a multi-module project? If so, can you share your `build.gradle` files?

[2021-03-06 17:15] paulolieuthier commented on #3058
[code]

[code]

[2021-03-06 17:16] paulolieuthier commented on #3058
[code]

[code]

[2021-03-08 19:17] chanseokoh commented on #3058
@paulolieuthier thank you very much for the info. Out of an abundance of caution, I think we should revert upgrading Google HTTP Client. But I should ask this last question: is it technically possible that you can reproduce the error with this [hello-world example](https://github.com/GoogleContainerTools/jib/blob/master/examples/helloworld) in your environment? (I guess you can just edit `jib.from

[2021-03-08 21:45] paulolieuthier commented on #3058
I just tested with the example project and the `jib` task run successfully with the same `from` image and same-host `to` image as my failing project. I even turned it into a simple multi-project setup and it worked as well... Unfortunately I don't have time to bitsect it.

I'm pushing to AWS' ECR.

[2021-03-08 22:17] chanseokoh commented on #3058
Hmm... that gives more weight to a configuration issue in your project.

@paulolieuthier @daxroc @tburch there is an ultimate and indisputable workaround where you can force a particular dependency version used for the build script classpath. At the top of the root `build.gradle`, explicitly force (note `force = true` below) the desired Google HTTP Client and Apache HttpClient versions. Place them

[2021-03-09 17:28] mpeddada1 commented on #3109
Hi @rmannibucau, we appreciate you bringing this up and agree that being selective about dependencies is beneficial.  However, the team is a little short on resources at the moment so it might be a while before we get to implement this. If you are interested in making a contribution, we will be happy to review it!

[2021-03-10 23:33] chanseokoh opened #3126 "Jib CLI: --http-trace doesn't work"
Tried both `jib jar --http-trace ...` and `jib --http-trace jar ...`, but nothing is logged.

[2021-03-11 12:27] thoweber opened #3127 "Intermittent AccessDeniedException while building the image"
**Environment**:

- *Jib version:* jib-maven-plugin 2.8.0
- *Build tool:* Apache Maven 3.6.2 on OpenJDK 11
- *OS:* Windows 10

**Description of the issue**:
The image build is intermittently failing while copying files in the jib cache. This issue is related to https://github.com/GoogleContainerTools/jib/issues/1763. The failure is caused by the virus scanner locking the file, but since the build

[2021-03-11 12:49] thoweber commented on #3127
Since I forgot to mention this in the original report: *Keep up the great work! Jib is a fantastic tool!*

[2021-03-11 15:54] chanseokoh commented on #3127
Thanks for the feedback.

Not that this is an issue, but another user worked around this by [setting the application cache outside the Maven project](https://github.com/GoogleContainerTools/jib/issues/1635#issuecomment-775007258). The user also reported a significant performance increase by doing so.

The user kindly shared which cache directory they configured.

Can you try this workaround and ge

[2021-03-11 15:56] thoweber commented on #3127
I will check this out tomorrow morning - thanks for the fast reply 👍

[2021-03-11 17:02] chanseokoh opened #3128 "Output a short usage message for invalid usage"
Whenever I make a mistake in calling Jib CLI, it outputs the full usage. Every time this happens, it momentarily gives me a wrong idea why Jib CLI is misbehaving although I did not explicitly pass `-h`. The error message is at the top, and it is cumbersome to look it up and easy to miss.

[code]

Maybe we can print out a short usage (maybe up to the point of "Containerize a jar") and say like "Run

[2021-03-11 17:05] chanseokoh commented on #2764
Reopening to track the cleanup task: https://github.com/GoogleContainerTools/jib/issues/2764#issuecomment-693512019

[2021-03-11 20:07] chanseokoh commented on #2951
It's not clear at the moment if switching to GSON is a good idea.

[2021-03-11 22:57] chanseokoh commented on #3058
@paulolieuthier @daxroc @tburch has anyone tried the workaround with all three version sets? It's a frequent Gradle issue that a Gradle build pulls in unintended dependency versions, and based on the observations so far, it still looks to me that it's a Gradle project configuration issue.

[2021-03-12 00:11] elharo commented on #2951
Why do you say that? See also https://engdoc.corp.google.com/eng/doc/devguide/java/primer/index.md?cl=head#data-interchange-formats-serialization

[2021-03-12 08:18] thoweber commented on #3127
@chanseokoh, I can confirm that using using a cache directory outside the project speeds up container builds significantly, especially once the cache is primed. So maybe, this would be a candidate for a setting in `config.json`.

The build has also proven to be much more stable this way.

[2021-03-12 09:01] dmoebius commented on #3101
We tested this for a couple of days now and it works fine.
When pushing to more than one tag at the same time, ie. when using the `tags` property, we have to use '-Djib.serialize=true` though.
Our problem is solved. Many thanks for your great support!!

[2021-03-12 09:01] #3101 closed

[2021-03-12 11:30] Fabian-K opened #3132 "Support for Gradle Configuration Cache"
**Environment**:

- *Jib version:* 2.8.0
- *Build tool:* Gradle 6.8.1
- *OS:* Mac

**Description of the issue**:

Gradle 6.8 has a new configuration cache feature that helps to improve build performance. Unfortunately, there are some restrictions on what plugins can use and jib is currently not compatible with this. I don´t think that jib, in particular, is bad wrt to build performance, still, I t

[2021-03-12 15:06] chanseokoh commented on #2951
Sorry, let me clarify and document why.

JSON processing is a critical part of Jib, and my main concern is the comment I left in the linked doc:

This may be my perspective only, but I don't really feel comfortable switching to GSON. Jib does heavy JSON processing, and having good support and fast feedback from a library is important. I don't know the internal GSON is well maintained, but I'm conc

[2021-03-12 15:15] chanseokoh commented on #3127
Not that this is a good idea, but FYI, you can set the [system property in `pom.xml`](https://github.com/GoogleContainerTools/jib/issues/2314#issuecomment-602654790) if you really want. If you launch a Maven build from IDE, of course IDE also has a way to set system properties.

[2021-03-12 15:42] chanseokoh commented on #3132
Interesting. Thanks for the feedback! Sounds like a new feature in the latest Gradle? For now, I added the "help wanted" label.

[2021-03-12 16:04] thoweber commented on #3127
Thank you, I know that - but this going to cause more trouble than good with other team mates, the CI pipeline etc. This is why the per user config.json would be such a nice place to keep that setting. But I totally understand if you do not want to go that route...

[2021-03-12 16:37] #3126 closed

[2021-03-12 17:27] #2764 closed

[2021-03-12 19:09] mpeddada1 commented on #3128
Closed with #3131

[2021-03-12 19:09] #3128 closed

[2021-03-16 10:45] wolfmah opened #3138 "Failed to open or parse global Jib config file"
**Environment**:

- *Jib version:* 2.8.0
- *Build tool:* maven 3.6.1 with maven-wrapper-0.5.5
- *OS:* `openjdk:11.0.10-jdk-slim-buster`

**Description of the issue**: Error executing `./mvnw compile jib:buildTar` with no global config written in default path. This error is new from version 2.8.0 and renders Jib unusable unless you explecitly specify a global config file. Version 2.7.1 (and older)

[2021-03-16 18:08] yrashish opened #3139 "Upgrade workflow to consider Java 16"
Java [16](https://openjdk.java.net/projects/jdk/16/) is GA. Let me know if we can upgrade the workflow yml file to include JDK 16 also as part of running the unit test.

[2021-03-16 18:48] chanseokoh commented on #3127
#3133 will increase the retry numbers from 5 to 10, which will be up to 150ms of delay in the worst case. It also improved the error message and fixed the bug that swallowed the error. After 10 attempts, I think it's reasonable to fail, as it could mean that an anti-virus program is really affecting the productivity, and the error message will offer a workaround that has a potential to significant

[2021-03-16 18:53] #3047 closed

[2021-03-16 20:08] chanseokoh commented on #3139
Sure thing! Will be interesting to see if it works. (I expect it will.)

[2021-03-16 20:23] chanseokoh commented on #3138
Hi @wolfmah,

So prior to 2.8.0, we ignored any errors when Jib was not able to read or right the global Jib config. It made sense, because the only thing we had in the config was for the automatic update checker; we didn't want the update checker getting in the way of the user building images. However, starting with 2.8.0 (which added registry mirror settings in the config file), we decided to ex

[2021-03-16 20:28] chanseokoh commented on #3139
But probably we will replace 16 with 17 (instead of just adding 17) when it gets out. For efficiency, we don't want to test on every Java version. Probably only LTS versions.

[2021-03-16 21:13] wolfmah commented on #3138
Yes it would be an easy fix to write the config file, but still, I don't see why I should if I don't care about using defaults (the update check is nice and we use a private registry for mirroring Docker Hub). It's a question of having one less thing to have to maintain and simplifying the CI pipelines.

As an alternative, are there environment variables that could be set to bypass the global conf

[2021-03-16 21:20] sergiopacezup opened #3143 "Recover generated images in multi-module project"
In a CI/CD pipeline I need to deploy Jib generated images to test environment after the build step. It is a multi-module maven project and not every module generates images.

Is there a way to recover the names/tags of images generated by Jib after the build? Like I can with the image id in target/jib-image.id?

[2021-03-16 21:48] chanseokoh commented on #3143
Jib generates `target/jib-image.json` (#2227), and I think this is what you want?

[2021-03-16 21:48] #3143 closed

[2021-03-16 21:53] sergiopacezup commented on #3143
Perfect!

[2021-03-16 21:53] chanseokoh commented on #3138
You don't have to write the file. Just make `~/.config` writable, and Jib will create all the subdirectories and the config file. The config file will be created with default values.

For now, only related are the variables `$XDG_CONFIG_HOME` and `$HOME`.

I agree. Sorry we missed it. Will update them.

[2021-03-16 22:35] wolfmah commented on #3138
Oh! didn't got that in your first post. Indeed, our CI is not run as root and isn't allowed to write where we don't say it's ok. If it's only a question of making the path writable, that is fine by me and would work great. Thanks! 👍

[2021-03-16 22:35] #3138 closed

[2021-03-17 11:06] mr-exz opened #3146 "Timeout on Artifactory when pushing a small container config JSON"
**Environment**:

- *Jib version:* 2.8.0,2.7.1
- *Build tool:* maven
- *OS:* CentOS

**Description of the issue**:
Image with layers which contain ~200MB cannot be pushed.

**Expected behavior**:
It should be pushed because push over `docker push` works as expected.

**Steps to reproduce**:
  1. make image with fat layers at least one layer should be 200mb
  2. perform pushing ver jib

**`jib-mave

[2021-03-17 15:48] thomasmey opened #3147 "Expose jib classpath and mainClass as environment variable"
Hi,

would it be possible to make the jib classpath and mainClass, that is created as ENTRYPOINT (ENTRYPOINT ["java", jib.container.jvmFlags, "-cp", "/app/resources:/app/classes:/app/libs/*", jib.container.mainClass]) available as environment variables in the created container image?

I would like to run a custom shell script before I jump into java. the injected shell script would be a generic sc

[2021-03-18 16:14] mpeddada1 commented on #3146
Hey @mr-exz, I'm having a hard time reproducing this issue locally. Looking at this error message:
[code]
I wonder if it could be that your network is slow and Jib is timing out sooner than you'd like. What happens if you increase the Java net timeout value with `mvn compile jib:build -Djib.httpTimeout=7200000`, for example?

And it is also worth taking a look at #2014 as it discusses operation ti

[2021-03-18 16:53] yrashish commented on #3139
So can I make the change?.  I understand that it's much efficient to stick with the LTS version. Still, In my opinion, it would be good to have at least one or two non-LTS versions for unit tests to understand compatibility with different JDK versions. Thoughts?

[2021-03-18 18:00] t-kap commented on #3146
With -Djib.httpTimeout it just hangs forever at this phase:
`Mar 18, 2021 8:49:14 PM com.google.api.client.http.HttpRequest execute
CONFIG: -------------- REQUEST  --------------
POST https://docker.mycompany.com/v2/mycompanyservice/blobs/uploads/?mount=sha256:63a536c6d6a6fb4f9cee101989592fe839018c74457c1450772065202ae89eca&from=mycompany-docker-java
Accept:
Accept-Encoding: gzip
Authorization: <N

[2021-03-18 18:23] mr-exz commented on #3146
@mpeddada1 for sure it is not network issue, since on same host in parallel i can execute docker push and it will be successful, of same image just without jib

[2021-03-18 18:56] chanseokoh commented on #3139
Sure, go ahead. I was just mentioning that when 17 comes out, we will probably drop 16.

[2021-03-18 19:08] chanseokoh opened #3148 "[Jib CLI] critical error message erased if rich console"
A lot of people will hit registry auth issues. When passing `--console=plain`, we can see the error and know what went wrong.

[code]
However, by default, it's getting erased by the dynamic progress update. Also the output becomes messy.
[code]

This is a critical issue, as it hides the essential information.

[2021-03-18 20:14] chanseokoh opened #3149 "[Jib CLI] version in User-Agent and CLI output is fixed to be "preview""
The version is "preview". It's static.

[code]

Compare this with Jib Maven plugin:
[code]

Also in the CLI output:
[code]

[2021-03-18 20:24] chanseokoh commented on #3058
Closing due to inactivity. Based on the evidence so far, this doesn't seem like a regression. I'm suspecting a Gradle project dependency resolution issue, which is not uncommon.

For those who came here, the workaround in https://github.com/GoogleContainerTools/jib/issues/3058#issuecomment-793122490 should work and allow you to move forward, but suggesting the workaround was mainly for verificatio

[2021-03-18 21:22] #3149 closed

[2021-03-18 21:34] mpeddada1 commented on #3147
Hey @thomasmey, I think what you're looking for is similar to #894. As described there, this issue had proven to be tricky to support within Jib in the past and we decided that writing a [Jib Extension](https://github.com/GoogleContainerTools/jib-extensions) for it would be the best course of action. If you would like write a small extension to resolve this issue, we would be happy to receive your

[2021-03-19 17:24] lisamittmann opened #3155 "Adding mongoDb connection during build in github workflow"
Hey guys,
I'm an absolute noob and am trying to figure this out on my own but I just don't know enough about docker to figure this out.

Problem:
I have a spring boot application with a static frontend and mongoDb connection. I set up a test instance of mongo Db atlas. Now I am trying to pass the mongoDb connection Uri to jib as a github workflow secret but I cannot for the life of me figure out h

[2021-03-19 17:34] loosebazooka commented on #3155
You need to describe your problem better for us to help you.

[2021-03-19 17:45] lisamittmann commented on #3155
Hey there,

okay trying to be more specific.
I have a spring boot application with mongoDb connection. I am trying to set this mongoDb connection during the build process. In Docker you could simply add someting like `-Dspring.data.mongodb.uri=$MONGODB_URI` and the image would include the mongoDb connection you passed on in the variable.
I tried the exact same with jib:build followed by `-Dspring.

[2021-03-19 18:09] mpeddada1 commented on #3146
Right so `docker push` behaves differently from Jib. Unlike `docker`, Jib doesn’t retry when the first attempt at pushing a layer fails and Jib also pushes a whole layer as opposed to doing [chunked uploads](https://docs.docker.com/registry/spec/api/) as described in [#2014 (comment)](https://github.com/GoogleContainerTools/jib/issues/2014#issuecomment-534154014). This is an open issue and can be

[2021-03-19 20:14] chanseokoh opened #3156 "[Jib CLI] --http-trace sometimes doesn't work"
The behavior is very unpredictable. That makes me suspect a concurrency issue. And it seems to always work with `--serialize`.

[2021-03-19 20:26] chanseokoh commented on #3156
So I put debugging statements to print the level of `HttpTransport` logger in multiple places.
[code]
When the issue happens, at some point the level becomes `null`. In the log below, it was the 7th check, but I've seen becoming `null` at earlier times.
[code]
Certainly concurrency is affecting the issue.

[2021-03-19 20:56] chanseokoh commented on #3156
I poked around the JDK JUL `Logger` code and tried to see who may be manipulating the `HttpTransport` logger.

So, in a non-main thread (thread #14), when `ApacheHttpTransport` seemed to be accessed for the first time, `Logger.getLogger(HttpTransport)` is called.
[code]

Indeed, a static `LOGGER` field is being initialized.
[code]

And with some experiments, I noticed that, probably `Logger.getLog

[2021-03-19 21:08] chanseokoh commented on #3156
Oh, actually, the Javadoc of `Logger.getLogger()` says this, and this may be the cause:
[code]
In any case, because `HttpTransport` holds the logger as a static variable, so #3157 will fix the issue.

[2021-03-19 21:31] chanseokoh commented on #3155
Probably this doesn't make sense. I think you are supposed to pass `-Dspring.data.mongodb.uri=...` to your app (precisely speaking, the JVM will run your app) that will run inside a container when the container starts? But with `mvn jib:build -D...`, you're passing it to Maven (precisely speaking, the JVM running the Maven build).

How do you exactly add this? Can you show us your `Dockerfile` and

[2021-03-19 21:40] lisamittmann commented on #3155
Thx for the explanation, like I said I am absolutely noob and have absolutely no idea about Docker (it's my second day)

Before I used heroku to create a Dockerfile which include the following:
`ADD backend/target/github-bingo-master.jar app.jar

CMD ["sh", "-c", "java -Dserver.port=$PORT -Dspring.data.mongodb.uri=$MONGODB_URI -Dsecurity.jwt.secret=$JWT_SECRET -Dgithub.auth.client-id=$GITHUB_CLIEN

[2021-03-20 13:09] everflux commented on #2361
I tested it with
[code]
and it worked like a charm. I think this issue can be closed.

[2021-03-20 21:09] davidtron opened #3158 "[Jib core] Tar archives with same contents are not reproducible"
**Environment**:

- *Jib version:*  v0.18.0-core
- *Build tool:* Gradle 6.01
- *OS:* macOS 10.15.7

**Description of the issue**:
I create a tar file from a registry image.
`Jib.from(RegistryImage.named(image)).containerize(Containerizer.to(TarImage.at(outputPath).named(image)));`

This is being executed as part of a bazel genrule, with the tar file as the output.  We discovered that if this is re

[2021-03-21 03:41] #2361 closed

[2021-03-22 15:46] #3156 closed

[2021-03-22 18:03] mystdeim opened #3160 "Is it possible to use jib for pushing container to github packages via github actions?"

[2021-03-22 18:05] chanseokoh commented on #3160
Not sure if you're talking about Jib CLI or Jib Maven and Gradle plugins, but yeah. I did this before.

[2021-03-22 18:07] chanseokoh commented on #3160
BTW, [GitHub Container Registry supersedes the GitHub Packages Docker registry](https://docs.github.com/en/packages/guides/migrating-to-github-container-registry-for-docker-images#key-differences-between-github-container-registry-and-the-docker-package-registry).

[2021-03-22 18:07] mystdeim commented on #3160
I'm talking about Jib gradle plugin. So I have ci.yml inside ny project and I want to push my container to github registry during `./gradlew jib` builnding process. @chanseokoh please share how you did that

[2021-03-22 18:09] chanseokoh commented on #3160
What's the issue you're having? Don't know how to set `jib.to.image=`? Having an auth problem?

[2021-03-22 18:11] mystdeim commented on #3160
I don't know to write a config properly... I have .github/workflows/ci.yml:

[code]

and inside my build.gradle.kts:

[code]

[2021-03-22 18:22] chanseokoh commented on #3160
AFAIK, the image to push should be named like
[code]
, so you should set `jib.to.image` to the value in that format. (I believe the name format is right, but you should check the GitHub Packages doc to confirm yourself.) As long as you can make `docker push <image name>` work, you can use the same name.

Then for auth, at least the following will work (assuming that `secrets.DOCKER_USERNAME` is re

[2021-03-22 18:22] #3160 closed

[2021-03-22 20:23] mpeddada1 opened #3161 "[Jib CLI] Automatic update checks"
Implement automatic update checker for the Jib CLI.  This feature will be used to check if the latest version is available and show a message to user, letting them know that they can update to the latest version if they haven't already done so.  This is an opt-out feature.

Note that the update checker already exists for the Jib Maven and Gradle plugins. #2193 for reference.

[2021-03-22 22:05] chanseokoh commented on #3155
There are different ways to achieve what you want. Most likely this may not be the best way, but if you just want to build the exact same image as you did with `Dockerfile`, just set the `CMD` (["program arguments"](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#container-object) is what Jib configuration names it) in the same way. This assumes you're using the same `FROM

[2021-03-22 22:50] tjupi-gh opened #3163 "Docker supports ADDing and COPYing files to an image with different from root user, but there is no way do it through jib"
**Environment**: Ubuntu, jdk11, maven, skaffold (spring's devtools for live reloading), k8s

- *Jib version:* 2.8.0
- *Build tool:* maven
- *OS:* Ubuntu 20.04.2

**Description of the issue**:

***Direct***: Docker [supports](https://docs.docker.com/engine/reference/builder/#add) ADDing and COPYing files to an image with different from root user, but there is no way do it through jib. I would like

[2021-03-23 14:40] chanseokoh commented on #3163
Hi @tjupi-gh! We do recognize this Skaffold use case justifies changing file ownership: https://github.com/GoogleContainerTools/jib/issues/1257#issuecomment-570309755

The way we support this use case is through an extension. Check out the linked issue to find out how to use it.

Closing as a dup of #1257.

[2021-03-23 14:40] #3163 closed

[2021-03-23 14:53] #3155 closed

[2021-03-23 14:54] #3148 closed

[2021-03-23 15:07] lisamittmann commented on #3155
Thx for the reply and clarification on what to use to achieve this outcome, this was very very helpful for me
Will most certainly read up more on Docker and hopefully not have to ask such basic questions again 🤞🏻

[2021-03-23 17:35] tjupi-gh commented on #3163
If this is (immutability -> root ownership) best practices then nothing to change.

btw. for sure the issue could be worked around by templating with `kustomize` or `helm` so if started by `skaffold` then `securityContext.privileged`  is set accordingly

[2021-03-23 18:33] MiellyEllen opened #3164 "Enhancement: Have an <extraFiles> option to add individual files instead of a whole directory"
**Environment**:

- *Jib version:*2.8.0
- *Build tool:* mvn
- *OS:* Windows

**Description of the issue**:
If this does not exist already, could there be an enhancement to add individual files into an image layer, rather than selecting all the files in a directory.

**Expected behavior**:
[code]

**Additional Information**: If this is not available, is there an expected version where this might be

[2021-03-23 21:51] chanseokoh commented on #3158
Thanks for the PR!

So a "tar image" is just a local archive (for whatever purpose), simply grabbing necessary files (such as image layer tars, container config JSON, etc) that can constitute a complete image when thought conceptually. AFAIK, there's no standard about how one should create this archive. I believe this is out of the scope of Docker or OCI specifications, because it's simply irrelev

[2021-03-24 15:12] chanseokoh commented on #3164
Thanks for the feedback! Yeah, unfortunately `<extraDirectories>` requires preparing a directory. If you can just put the file at `src/main/jib/app/contexts/context1.xml`, the file will be copied into the image (as `/src/main/jib` is the default extra directory).

If you can't put it in `src/main/jib` (e.g., you don't want to duplicate the file, or you only want to filter out a single file in a di

[2021-03-24 15:25] chanseokoh commented on #3164
Actually, we have an open issue. Closing this as a dup of #2564. Please follow #2564.

[2021-03-24 15:25] #3164 closed

[2021-03-24 15:27] chanseokoh commented on #2564
Copying the following comment from #3164, as this issue was opened far earlier and has many thumbs-ups.

---

Yeah, unfortunately `<extraDirectories>` requires preparing a directory. If you can just put the file at `src/main/jib/app/contexts/context1.xml`, the file will be copied into the image (as `/src/main/jib` is the default extra directory).

If you can't put it in `src/main/jib` (e.g., you d

[2021-03-24 16:10] MiellyEllen commented on #3164
Thanks so much for the very helpful feedback as well as the priority insight.
Cheers!

[2021-03-26 18:22] cameron-p-m opened #3170 "Remove all dependencies for JCenter as it is being discontinued"
**Description of the issue**:
https://github.com/GoogleContainerTools/jib/search?q=jcenter

JCenter is being removed, and all plugins and dependencies that have it listed as a dependency will fail fetching when they schedule their brown outs and eventually their blackouts

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[code]

Gradle migration guide: https://blog

[2021-03-29 16:13] chanseokoh commented on #3170
Interesting. Thanks for the heads-up!

[2021-03-29 19:13] cameron-p-m commented on #3170
Np. There was a brown out last week that caused our project to fail building :(

[2021-03-31 21:21] #2564 closed

[2021-04-05 03:17] wouterhund opened #3183 "Get image digest from jib cli"
**Environment**:

- *Jib version:* 0.5.0
- *Build tool:* Jib CLI
- *OS:* Linux

**Description of the issue**:

Unable to get built image digest when using jib cli

**Expected behavior**:

The maven and gradle plugins generate a `jib-image.json` file which contains the digest of the built image. The jib cli should have an option to specify the path to write such a file to as well.

**Steps to repro

[2021-04-05 03:38] wouterhund commented on #2788
I would like to see this as well. My use case is packaging a maven-built EAR into an image. Ideally I'd just be able to turn off the plugin's copying of dependencies and classes, and instead only using extraDirectories.

Using the filtering plugin is not an option for me because the Jib plugin aborts with:

Which happens because there is no built `.jar`, there is an `.ear`. I'm not expecting jib t

[2021-04-05 14:35] chanseokoh commented on #2788
@wouterhund don't get your hopes too high, but I guess you have `<packaging>ear` in your `pom.xml`? I wonder if you can somehow suppress the error by creating a dummy `.java` file. The situation seems similar to [this](https://stackoverflow.com/a/66335872/1701388). Also maybe [Jib CLI](https://github.com/GoogleContainerTools/jib/tree/master/jib-cli) can be a fit?

[2021-04-05 14:45] rmannibucau commented on #2788
@wouterhund can you use this workaround https://rmannibucau.metawerx.net/jib-docker-layer-file-filtering.html (forced jar plugin def) ?

[2021-04-05 15:59] chanseokoh opened #3184 "WAR containerization broken with the base image change"
Glad we had a tomcat integration test and were able to catch this before making it out.

In #3124, we were computing the entrypoint while mistakenly assuming that the base image is always the default Jetty image.

[code]

[2021-04-05 16:21] #3184 closed

[2021-04-05 18:11] wouterhund commented on #2788
@chanseokoh Indeed I am using `<packaging>ear</packaging>` and am using the `maven-ear-plugin`.

This means that maven generates a `target/NAME.ear` file instead of a `.jar` file. So when jib is ran in PACKAGED mode it won't find the file as it's looking for a `.jar`. Oddly enough it seems that for ear packaged modules the compilation of java files is skipped entirely, even when invoking the `mave

[2021-04-05 19:39] chanseokoh commented on #2788
Thanks for all the great details. This helps a lot.

Then I guess another hack for PACKAGED would be to create a dummy `.jar` file and remove it later using the filter extension. It's still very hacky though. 🤣

As you said, Jib CLI seems like a good fit in this case. We definitely want to improve the usability of Jib CLI, and we'll work on #3183. @mpeddada1

[2021-04-05 19:49] rmannibucau commented on #2788
@wouterhund you can always attach the ear with a classifier or just use another module to make the image - but still a workaround

@chanseokoh jib cli must not be seen as an alternative for maven build or so and I would expect jib-cli to be able to do the same as gradle task and maven plugin but not more - or reversed, I would expect the build plugins to be able to do as much as jib cli. I have a

[2021-04-06 16:14] github-actions[bot] opened #3191 "Plugin Release v3.0.0-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.0.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-04-06 16:15] github-actions[bot] opened #3193 "Plugin Release v3.0.0-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.0.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-04-06 16:39] mpeddada1 opened #3194 "Consider refactoring jib-plugins-common as a result of increased usage by Jib CLI"
jib-plugins-common is started to be used a lot more by the Jib CLI. However, it also contains some classes that are only used by the build plugins. A few things to consider:
1. Rename jib-plugins-common to something more general?
2. Split jib-plugins-common into two layers, one containing common code for Jib CLI and build plugins and another containing common code for just the build plugins.

[2021-04-06 19:08] mpeddada1 commented on #3146
Just checking in:

Any updates on this question? Did the workaround work okay?

[2021-04-06 19:13] mr-exz commented on #3146
Workaround with with changing jib version to 1.3 is working
right now provide other logs i cannot, we need prepare demo stand - so it will take some time

[2021-04-06 20:53] infobip-ci commented on #3146
The log that I've provided is with debug enabled.
https://github.com/GoogleContainerTools/jib/issues/3146#issuecomment-802167729

[2021-04-06 20:56] chanseokoh commented on #3146
@infobip-ci can you provide a full log. There's something that doesn't add up in the log you uploaded, so that's why we are asking for a full HTTP logs.

[2021-04-08 12:32] Marty opened #3195 "Environment entries can not be null or empty"
**Environment**:

- *Jib version:* 2.8.0
- *Build tool:* Maven 3.6.1
- *OS:*  Windows 10

**Description of the issue**:
Setting `environment` entries to an empty string results in the following message:
[code]

**Expected behavior**:
The ENV variables should be set inside the image to an empty string.

**Steps to reproduce**:
Add an `environment` element with an empty value.
[code]

**Log output**

[2021-04-08 15:50] jakubgruber opened #3197 "AWS CLI v2 authentication to ECR"
**Environment**:

- *Jib version:* 2.7.1
- *Build tool:* Gradle 6.7.1
- *OS:* Ubuntu 20.04

**Description of the issue**:

I have updated AWS CodeBuild image to Ubuntu 20.04 which ships with AWS CLI version 2. The new AWS CLI has changed ECR login and I cannot authenticate Jib build now.

**Expected behavior**:

Previously, I could authenticate the Jib to ECR by `$(aws ecr get-login -no-include-em

[2021-04-08 17:35] chanseokoh commented on #3197
Hi @jakubgruber, I see you closed the issue. Is it resolved? If so, how? I'm interested to hear. Or, was it not an issue actually?

[2021-04-08 20:03] chanseokoh commented on #3147
@thomasmey thanks again for your awesome contribution.

We just published the extensions. The coordinates are
- [com.google.cloud.tools:jib-ownership-extension-maven:0.1.0](https://repo1.maven.org/maven2/com/google/cloud/tools/jib-classpath-main-class-extension-maven/0.1.0/)
- [com.google.cloud.tools:jib-ownership-extension-gradle:0.1.0](https://repo1.maven.org/maven2/com/google/cloud/tools/jib-cl

[2021-04-08 20:05] chanseokoh commented on #3147
And although it's unrelated to the issue, we also released Jib build plugins 3.0, so I suggest upgrading.

[2021-04-09 05:23] jakubgruber commented on #3197
Hello @chanseokoh , it is not yet resolved but after submitting the issue, I somehow thought it was a stupid question and wanted to read the docs again.

I will try to solve it today and if I succeed, I would post a solution here, but if you would know how to combine AWS CLI v2 with Jib, it would be awesome!

[2021-04-09 06:39] jakubgruber commented on #3197
I have resolved the issue by rewriting the CI/CD pipeline. Your stackoverflow [comment](https://stackoverflow.com/a/64105567/6270838) helped me a lot to understand how the authentication works.

AWS CLI v1:
[code]

AWS CLI v2:
[code]

Hopefully, someone will find this usefull.

[2021-04-09 06:39] #3197 closed

[2021-04-09 14:30] chanseokoh commented on #3197
Thanks for the update. Very interesting. Just one thing, since you are passing the credentials on the command line, you may want to make sure that the command (hence the username and password) is not logged or stored in a shell history. You can easily eliminate risk in Gradle, e.g., if you set `jib.to.auth.username = System.getenv('JIB_ECR_USERNAME')` in `build.gradle`.

However, the following is

[2021-04-09 19:33] chanseokoh commented on #2775
@mayrstefan @gredler @Saljack we released Jib build plugins 3.0 that switched the base image from Distroless to `adoptopenjdk` (and `jetty` for WAR).

For the details about the breaking change, see [this](https://github.com/GoogleContainerTools/jib/blob/master/docs/default_base_image.md).

[2021-04-09 19:33] #2775 closed

[2021-04-09 19:40] chanseokoh commented on #1778
@remmeier @dmurat @saturnism @fhoeben @bric3 @atbentley @AndrewBentley6886 @ghilainm @cromefire

We've released Jib plugins 3.0 where you can set a custom [Gradle Configuration](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.ConfigurationContainer.html). Check out the [usage](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md#added-1).

@cromefire

[2021-04-09 19:40] chanseokoh commented on #1778
Fixed by #1776.

[2021-04-09 19:40] #1778 closed

[2021-04-09 19:53] chanseokoh commented on #3036
@stefanocke thanks for your great contribution! This was really a cool idea, and we were very happy to get help from an expert on this subject.

We released Jib 3.0, and you should be able to start using the feature. (I know I am lazy to update the Jib extensions doc.)

[2021-04-09 20:00] chanseokoh commented on #2564
@tomikmar @labmonkey @andritch @daanschipper @cpvandehey @Nemesys @MiellyEllen

We implemented a inclusion/exclusion feature to `<extraDirectories>`, which not only makes it super easy to add a single file but is very flexible in copying a subset of files. Check out the docs ([Gradle](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/README.md#adding-arbitrary-files-to-the-

[2021-04-09 20:08] chanseokoh commented on #3164
@tomikmar @labmonkey @andritch @daanschipper @cpvandehey @Nemesys @MiellyEllen

We released Jib plugins 3.0 that implemented a inclusion/exclusion feature to `<extraDirectories>`, which not only makes it super easy to add a single file but is very flexible in copying a subset of files. Check out the docs ([Gradle](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/README.md#

[2021-04-09 20:28] chanseokoh commented on #3127
We will close the issue with based on the changes in #3133, which is included in the Jib build plugins 3.0 that we just released. But anyone, feel free to update feedback.

[2021-04-09 20:28] #3127 closed

[2021-04-12 06:00] jakubgruber commented on #3197
Thank you for recommendation. Regarding the second solution you provided, what I find problematic is that I need to have docker installed and running which from my perspective contradicts usage of Jib (I know Jib handles much more, but still...).

[2021-04-12 11:19] aanno opened #3204 "Changing base jetty image for WAR: running image fails"
**Environment**:

- *Jib version:* 3.0.0
- *Build tool:*  mvn 3.6.3
- *OS:* Linux (Fedora 33)

**Description of the issue**:
Changing base jetty image for WAR: running image fails

**Expected behavior**:
Changing base jetty image for WAR: running image should run WAR on jetty

**Steps to reproduce**:

**`jib-maven-plugin` Configuration**:
[code]

When using the maven configuration above:
[code]
Wh

[2021-04-12 14:50] chanseokoh commented on #3195
Hi @Marty,

I understand the pain, but fortunately, this seems like a limitation of Maven. There just does not seem a way to pass an empty string or even non-empty whitespace.

- [SO answer](https://stackoverflow.com/a/7893288/1701388)
- [mailing list message from 2007](http://mail-archives.apache.org/mod_mbox/maven-users/200708.mbox/%3C5a2cf1f60708090246l216f156esf46cc1e968b37ccd@mail.gmail.com%3

[2021-04-12 15:11] chanseokoh commented on #3204
Hi @aanno,

I know what's happening. The way we make the default `jetty` image (when you are not specifying `<from>`) works is to set the entrypoint to `java -jar /usr/local/jetty/start.jar`.

(from #3124)

So I expect you should be able to resolve the issue by specifying
[code]

---

Maybe we can help this situation by setting this entrypoint automatically if the base image is from the official `

[2021-04-12 15:38] chanseokoh commented on #3204
Hmm, I tried setting the entrypoint with `jetty:11.0.2-jre11` but ran into a problem. The jetty server does run, but it fails to start up the WAR context with

[code]

[2021-04-12 22:08] chanseokoh commented on #3204
Never mind. The error on my project was because my source was based on old Servlet API. I noticed that `jetty:latest` runs Jetty 9.4. OTOH, Jetty 11 (`jetty:11.0.2-jre11`) seems to require Servlet 5.0. When converted my source to Servlet 5.0, it works. So, yeah, set `<entrypoint>java,-jar,/usr/local/jetty/start.jar</entrypoint>`, and you should be good.

[2021-04-12 22:36] chanseokoh commented on #3204
So #3205 documented an [example](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#war-projects) to use `jetty` as a base image, in addition to the existing example to use `tomcat`.

I think this issue can be resolved with the documentation. Technically Jib could do more magic to automatically set multiple configurations (`appRoot`, `entrypoint`, etc.) for some well-known ba

[2021-04-12 22:36] #3204 closed

[2021-04-13 05:29] aanno commented on #3204
Dear @chanseokoh, thank you very much for prompt support!

[2021-04-13 14:00] #3158 closed

[2021-04-13 21:27] chanseokoh commented on #3147
@thomasmey I just realized a problem with the extension. To identify the classpath and main class, the extension works by parsing the entrypoint already set in the image (i.e., assumes that you didn't set a custom entrypoint). That is, even though you have the environment variables, you cannot set a custom entrypoint based on them (sort of a chick-and-egg problem). What would you say?

So, in orde

[2021-04-14 08:23] bric3 commented on #2902
@loosebazooka Sorry, I missed this message, I have reworked the unpacking task for another reason.

Before when it didn't work, the unpacking task was

[code]

This approach don't work well as the task outputs (`unpackLibsodium.outputs`) are not present if the task didn't run, also referring to `unpackLibsodium.linuxLibraryFile` don't work (https://github.com/gradle/gradle/issues/15284).

After my

[2021-04-14 11:47] bric3 commented on #1778
@chanseokoh Thanks !
It is useful !

[2021-04-14 16:15] chtpl opened #3212 "Spring environment variable is not recognized"
**Environment**:
Local
- *Jib version:* 3.0.0
Apache Maven 3.6.0
Maven home: /usr/share/maven
Java version: 11.0.10, vendor: Ubuntu, runtime: /usr/lib/jvm/java-11-openjdk-amd64
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "5.4.0-70-generic", arch: "amd64", family: "unix"

**Description of the issue**:
When using the following container config:

[code]

and running the

[2021-04-14 16:53] mpeddada1 commented on #3212
Hi @chtp, what happens if you just use static value like this `<jvmFlag>-Dspring.profiles.active=dev<jvmFlag>`?

[2021-04-15 18:09] thomasmey commented on #3147
Hi,

My use case is to set a custom entrypoint to a shell script, in that script i want to use those variables.

And i didnt find any time yet to test, sorry.
Maybe i find some time next week.

But your description sounds if it cannot work, besides when the custom entry point is set after the plugin did already run, not sure when the plugin is called.

[2021-04-16 09:20] chtpl commented on #3212
I'll setup a minimal example when I find the time. Probably not before mid may

[2021-04-16 14:02] chanseokoh commented on #3212
There's no interpreter evaluation the string literal `$PROFILE` and substitute the string `dev` for it, so you're initial approach doesn't work. Checking [this SO question](https://stackoverflow.com/questions/59357410/jib-how-to-use-environmental-variables-from-base-image/59361658#59361658) may give you some more insights.

[2021-04-16 16:13] eisig opened #3214 "mvn clean compile jib:build not work for war project."
**Environment**:

- *Jib version:*  3.0.0
- *Build tool:* maven 3.6.3,Java version: 1.8.0_282,
- *OS:*  ubuntu20.04

**Description of the issue**:
`mvn clean compile jib:build ` not work for war project.
have to package the war project. `mvn clean package jib:build `
The documents and the log output do not mention that.

**Expected behavior**:
work as jar project.

**Steps to reproduce**:

  1.  c

[2021-04-16 17:31] chanseokoh commented on #3214
Yeah, the message is misleading. (It used to be `mvn clean package jib:build`, but I guess this is a regression.)

BTW, I highly recommend `<packaging>jar` instead of `war` if feasible.

[2021-04-16 18:13] #3193 closed

[2021-04-16 18:13] #3191 closed

[2021-04-18 06:22] Sap1996 commented on #3214
Hi. I am new to this space, and  would like to pick up this issue.

[2021-04-18 06:33] Sap1996 commented on #2521
Hi, I am new to this space, and would like to take up this task and contribute to this project

[2021-04-19 08:46] mantoshelis opened #3215 "AWS ECR - Registry may not support pushing OCI Manifest or Docker Image Manifest Version 2, Schema 2"
**Environment**:

- *Jib version:* 3.0.0
- *Build tool:* Gradle 6.7.1
- *OS:* Arch Linux (kernel: 5.11.15-arch1-2, 64-bit)

**Description of the issue**:
Docker image push to AWS ECR fails with `Registry may not support pushing OCI Manifest or Docker Image Manifest Version 2, Schema 2` error. I'm using AWS ECR Credentials Helper as an authorization mechanism. `adoptopenjdk:11-jdk` Docker image use

[2021-04-19 14:05] chanseokoh commented on #2521
@Sap1996 thanks! Please have a look at #3214.

[2021-04-20 15:33] Sap1996 commented on #3214
Thank you @chanseokoh . I will take a look into it :)

[2021-04-21 19:34] mpeddada1 commented on #3215
Hey @mantoshelis, apologies for the delay. This error is only thrown in one place in the Jib code and is due to the server returning [MANIFEST_INVALID or TAG_INVALID](https://github.com/GoogleContainerTools/jib/blob/401df0f75eda65775fe07acd59facefb34f32535/jib-core/src/main/java/com/google/cloud/tools/jib/registry/ManifestPusher.java#L95-L120). We've seen this occur in the past for some registries

[2021-04-22 05:56] Sap1996 commented on #3214
/take

[2021-04-23 21:41] chanseokoh commented on #3215
The difference from #3201 is that, the build here doesn't seem to be pushing multiple manifests. Otherwise, you must have seen all the tags in the log, but it says only one image (manifest):
[code]
However, it's still true that the server is returning `MANIFEST_INVALID` or `TAG_INVALID`, and I think it's an issue in AWS ECR, maybe specific to your repository for some reason. (We have not heard any

[2021-04-27 12:56] mantoshelis commented on #3215
Thank you for the responses. Unfortunately, the problem persisted in AWS ECR registry. Tag mutability was toggled on.

[2021-04-27 12:56] #3215 closed

[2021-04-27 13:43] mattupstate commented on #3058
I'm experiencing this with the `v3.0.0` release. I've tried forcing dependency versions as described above but to no avail. I'm using the Kotlin DSL and I'm assuming this is the equivalent of the workaround above:

[code]

[2021-04-27 14:12] chanseokoh commented on #3058
@mattupstate seems like you tried 2.7.1 dependencies. What about 2.7.0 dependencies? The issue reported here is that 2.7.0 had been working, but it stopped working since 2.7.1.

[2021-04-27 14:14] chanseokoh commented on #3215
Aha, thanks for the update. That explains it.

[2021-04-27 14:15] mattupstate commented on #3058
@chanseokoh 🤦 thanks for that tip. That did the trick 🙇

[2021-04-27 14:20] chanseokoh commented on #3058
Hmm... but that implies that Google HTTP Client dependencies above 2.7.0 does have a problem. I expected that forcing dependencies whether it's 2.7.0 or higher than that would resolve the issue. However, it seems not. :(

Can't figure out why, but since a sufficient time has passed, maybe we can try upgrading the HTTP dependencies once more rather than downgrading to the versions in 2.7.0. In any

[2021-04-28 20:43] github-actions[bot] opened #3223 "CLI Release v0.6.0-cli"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-cli/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-cli/README.md)
- [x] Publish [Release](https://github.com/GoogleContainerTools/jib/releases/tag/untagged-53998683d

[2021-04-29 16:16] mpeddada1 commented on #3183
@wouterhund thanks for creating this issue! Jib CLI 0.6.0 has been released with this feature. It introduces an option (`--image-metadata-out`) to let you specify a JSON file that will contain image metadata such as image id, digest and tags.

[2021-04-29 16:17] #3183 closed

[2021-04-29 18:31] mpeddada1 commented on #3161
Closed with #3165

[2021-04-29 18:31] #3161 closed

[2021-04-29 18:49] mpeddada1 commented on #2788
Update: Jib CLI 0.6.0 has been released with this feature (#3183).

[2021-04-29 19:07] #3223 closed

[2021-05-04 14:34] Marty commented on #1270
I just ran into this myself. I have to copy some files into an image that are then modified. As a result the modified outputs are saved to new files with a suffix appended to their respective original filenames.

The directory gets all the neccessary permissions to be writable by the user in the base image, but copying files to this location changes the entire directory path to root ownership.

I

[2021-05-04 16:09] chanseokoh commented on #1270
@Marty another option is to use the Onwership extension (https://github.com/GoogleContainerTools/jib/issues/1270#issuecomment-642927961), which will allow you to change onwership of those directories.

[2021-05-06 16:17] listaction commented on #2637
How _do_ you set a mainClass so that you can detect it correctly? It is not clear how to remove the warning.

[2021-05-06 16:36] loosebazooka commented on #2637
@listaction this bug is closed, please open a new one if you would like to troubleshoot an issue. In that new issue, include a detailed description of your problem and what you would like to achieve.

[2021-05-07 09:07] chtpl commented on #3212
Thanks. I used a custom entrypoint now:

[code]

[2021-05-10 16:17] #3212 closed

[2021-05-13 19:45] mr-exz commented on #3146
Guys any news ?

[2021-05-14 09:57] irvifa opened #3236 "Official Support for Sbt as Part of Approved Jib Plugin"
**Kind**:

Feature request

**Description of the issue**:

Since `jib-core` is available and can be used to create a plugin for another JVM builder,
is it possible to officially support `sbt` as official plugin. This is related to issue mentioned on [1].

**Additional Information**:

[1] [Official Support for Sbt Jib as Part of Approved Builder](https://github.com/GoogleContainerTools/skaffold/iss

[2021-05-14 13:38] NaitYoussef commented on #3094
Hello would like to help with this issue

[2021-05-14 14:15] chanseokoh commented on #3236
Thanks for the feedback, but unfortunately, we have no plan to support sbt. It is unlikely that we will ever work on it.

But at least we know there exists [sbt-jib](https://github.com/schmitch/sbt-jib) created by the community, so maybe check it out.

[2021-05-14 14:28] chanseokoh commented on #3094
@NaitYoussef thanks for your interest!

As noted in https://github.com/GoogleContainerTools/jib/issues/3094#issuecomment-788064416,

the way we decided to expose Gradle properties is to use `Property<?>` [like this](https://github.com/GoogleContainerTools/jib/pull/3034/files#diff-ec1f44085899ade105be7cc3c4febe441db808c45bd067be6827bd19c2f52958R238-R244
).

This issue is about `jib.container.labels

[2021-05-14 16:20] irvifa commented on #3236
I see, as for skaffold support for jib other than the one for gradle and maven will that ever be considered?

[2021-05-14 16:32] chanseokoh commented on #3236
I don't think so, sorry. You may already be aware of this, but at least Skaffold supports a ["custom builder"](https://skaffold.dev/docs/tutorials/custom-builder/). So, I guess it can be made to work with Skaffold using the sbt-jib plugin.

[2021-05-15 09:51] irvifa commented on #3236
Got it, thanks for explaining it to me, I also got a response about the suggestion on using a custom builder on the Skaffold repository as well. I'll close this issue then. Thanks!

[2021-05-15 09:51] #3236 closed

[2021-05-15 15:51] aalmiray opened #3238 "jib-maven-plugin does not offer a help goal"
**Environment**:

- *Jib version:* 2.7.1
- *Build tool:* Maven
- *OS:* N/A

**Description of the issue**:

Invoking `mvn jib:help` results in error

[code]

**Expected behavior**:
Printable information on all available goals provided by the `jib` plugin.

**Steps to reproduce**:

  1. create a micronaut application using the command line tool
     mn create-function-app myfunction --features oracl

[2021-05-17 05:10] briananderson1222 opened #3239 "GOOGLE_APPLICATION_CREDENTIALS for Google's Artifact Registry (*-docker.pkg.dev)"
**Environment**:

- *Jib version:*  3.0.0
- *Build tool:* Maven (3.8.3)
- *OS:* OSX Big Sur

**Description of the issue**:
Images with path gcr.io are correctly able to use GOOGLE_APPLICATION_CREDENTIALS to resolve the ability to upload. `*-docker.pkg.dev` Google Artifact Registry cannot leverage this same technique.

**Expected behavior**:
I believe Google Artifact Registry should use `*-docker.p

[2021-05-17 15:59] cicirello opened #3240 "Add example GitHub Actions workflows for jib-maven-plugin to documentation"
**Description of the issue**:
The documentation for the jib-maven-plugin can use example GitHub Actions workflows for using Jib to
push containerized Java apps to Docker Hub, GitHub Container Registry, etc from GitHub Actions.  In particular,
to demonstrate how to properly, and securely login within an Actions workflow.

**Additional Information**:

The [documentation of the jib-maven-plugin](http

[2021-05-17 17:55] #3239 closed

[2021-05-17 17:55] chanseokoh commented on #3239
Thanks for the feedback! This will be supported in the next release.

[2021-05-18 20:40] mpeddada1 commented on #3240
Hi @cicirello, thank you for taking the time to come up with an example! Although this might work, there can be several ways of setting up authentication through github actions and it tends to depend on the registry being used. The Jib team discussed this at length and given the fact that this example may not be the only way to do auth, we would have to hold back on making any recommendations, unf

[2021-05-18 20:52] chanseokoh commented on #3240
FYI, this is unnecessary (unless you explicitly use the env vars somehow).
[code]

[2021-05-18 21:19] cicirello commented on #3240
@mpeddada1 Thanks for the response.

@chanseokoh The actions/setup-java step just before that step uses setup-java's server-username and server-password inputs to insert environment variables into the settings.xml file that actions/setup-java generates.  Well, to replace the environment variables that are there by default (GITHUB_ACTOR and GITHUB_TOKEN). since those are assuming publishing to GitH

[2021-05-18 21:36] chanseokoh commented on #3240
Ah, didn't realize `actions/setup-java` creates placeholders for the env vars. That explains it, thanks.

[2021-05-18 21:59] chanseokoh commented on #3240
I think many people may come to this thread after searching Jib + GitHub Actions, so I'd like to add a bit more information if it helps.

For example, some registries require authenticating using a short-lived token that is dynamically generated. Also there can be publicly available actions, such as [`aws-actions/amazon-ecr-login`](https://github.com/aws-actions/amazon-ecr-login) for AWS ECR. (Not

[2021-05-19 09:45] JensMueller2709 opened #3244 "Jib 3.0.0 Maven does not consider mirrors"
**Environment**:

- *Jib version:* 3.0.0
- *Build tool:* Maven
- *OS:* Docker / Linux

**Description of the issue**:
Due to avoid hitting the rate limit of Docker Hub we introduced mirrors in our CI/CD pipeline. We configured the mirrors as described in the docs. Our config.json in `$HOME/.config/google-cloud-tools-java/jib/config.json`:
[code]

Unfortunately the mirrors seems not to be considered

[2021-05-19 12:28] cicirello commented on #3240
@chanseokoh Thanks. Your stackoverflow post definitely gets across the complexity of the issue. Not at all straightforward to recommend one approach to authentication for Jib within GitHub Actions that would be best for all docker registries.

[2021-05-19 15:55] #3240 closed

[2021-05-20 16:47] chanseokoh commented on #3244
I can assure you that there is no code change between 2.8.0 and 3.0.0 regarding mirrors and both of them are working in the same way. I just tested this with 3.0.0 with the following config. (BTW, I don't have anything running on `localhost:5000` locally.)
[code]
Below is the Jib network log. (You can obtain this yourself by following [these instructions](https://github.com/GoogleContainerTools/ji

[2021-05-20 18:10] chanseokoh commented on #3215
The error is because Jib is pushing the exact same image again (i.e., ECR already has the image). With the tag immutability turned on, ECR won't allow re-uploading existing images.

Obviously, if you hit this issue, there's nothing you need to do; the image is already there. But for some reason you don't want to see Jib fail, one option could be [`-DskipExistingImages`](https://github.com/GoogleCo

[2021-05-24 01:09] sethrylan opened #3247 "_jibSkaffoldFilesV2 fails with subproject dependencies"
**Environment**:

- *Jib version:* 3.0.0
- *Build tool:* `jib-gradle-plugin`
- *OS:*  Mac OSX 11.1 (20C69)

**Description of the issue**:

The gradle task `_jibSkaffoldFilesV2` (used by skaffold) fails when defining implementation dependencies from a subproject.

**Expected behavior**:

This can be reproduced in the example project by commenting out the line
[code]

[code]

**Steps to reproduce**:

[2021-05-24 18:04] pgressa opened #3250 "Build fails when using Micronaut"
**Environment**:

- *Jib version:* 3.0.0
- *Build tool:* maven
- *OS:* mac

**Description of the issue**:
When the base image is from *public* registry hosted by github packages then the build fails. Tested on `ghcr.io/graalvm/graalvm-ce:ol8-java11-21.1.0`

**Expected behavior**:
Build passes

**Steps to reproduce**:

  1.
  2.
  3.

**`jib-maven-plugin` Configuration**:
[code]

**Log output**:
[c

[2021-05-24 21:25] chanseokoh commented on #3250
We know that public ghcr.io certainly works.
[code]
Can you follow the steps above carefully and tell us if it works?

And did you edit your Jib log while copying-and-pasting? It doesn't make sense at all that there's a reference to a Docker Hub image `openjdk:16-alpine`.
[code]
Where do you think it's coming from?

[2021-05-24 21:30] chanseokoh commented on #3250
And are you using any Jib extension?

[2021-05-24 21:37] meltsufin commented on #3238
@aalmiray Thanks for the feature request! This is a good issue for anyone willing to contribute.

[2021-05-24 21:50] sethrylan commented on #3247
One workaround to this error is to name the configuration for subproject dependencies. E.g.,

[code]

instead of
[code]

Although gradle's dependency resolution seems to figure out that the unnamed dependency matches `client`, the assumption of an empty configurationName as "default" doesn't work the same in `FilesTaskV2.listFiles`.

[2021-05-25 08:18] pgressa commented on #3250
@chanseokoh yeah, I'm using micronaut maven plugin, that has jib extension. Yes, when I tried your steps, it works. So I'll look into micronaut maven plugin. Thanks @chanseokoh !

[2021-05-25 14:22] chanseokoh commented on #3250
I remember a [chat](https://gitter.im/google/jib?at=5fdb9a7527eaac4d643179c1) with a Micronaut dev where they said their Jib extension changes a base image to `openjdk`. (There's a related Jib issue #2953.) Until Jib can resolve #2953 (which is tricky to fix due to how the Jib infrastructure processes configurations), the Micronaut Dev said they could implement a workaround for that. But in your c

[2021-05-25 14:56] meltsufin commented on #3247
This seems like a bug, but it's probably not a high priority since there is a workaround.
Thanks for the report! We welcome community contributions for this.

[2021-05-25 15:56] elharo commented on #2951
No, there is not.

[2021-05-25 15:58] elharo commented on #2951
I've managed to get GSON back to a state where it is now possible to fix bugs and release new versions if needed. GSON 2.8.7 was released yesterday.

[2021-05-26 20:48] Schachte commented on #1646
I get this regardless of specifying the format.

`support pushing OCI Manifest or Docker Image Manifest Version 2`

I'm using gradle.

[code]

[2021-05-26 20:56] Schachte opened #3268 "Registry may not support pushing OCI Manifest or Docker Image Manifest Version 2, Schema 2"
I'm getting the following error when pushing an image to `Artifactory` via Jib.

Format is _not_ OCI. Why does it still appear?

[code]

## Code (Gradle)

[code]

[2021-05-26 20:59] chanseokoh commented on #1646
@Schachte probably the root cause is irrelevant of the format but that your registry refuses to accept a valid manifest for some reason. There can be multiple different reasons, but here's one: #3215

What's the response you get from your registry? Providing `--stacktrace` will give you more details. (`--debug` also works, but it may output too much detail.)

[2021-05-26 21:00] chanseokoh commented on #3268
Note that it's saying "OCI _or_ Docker." Definitely you are not pushing OCI.

@Schachte probably the root cause is irrelevant of the format but that your registry refuses to accept a valid manifest for some reason. There can be multiple different reasons, but here's one: #3215

What's the response you get from your registry? Providing `--stacktrace` will give you more details. (`--debug` also work

[2021-05-27 07:11] lukeSky3434 opened #3269 "Pushing Images to same tag with different architectures"
Hello,

is it possible to push images to the same tag with different architectures? You have defined in the _from image_ confguration, to define the architecture:

          <from>
            <image>....</image>
            <platforms>
              <platform>
                <architecture>arm/v7</architecture>
                <os>linux</os>
              </platform>
            </platforms>

[2021-05-27 16:38] ChristianCiach commented on #2336
For future reference: When using the Gradle plugin `org.springframework.boot`, you can configure Jib to use a configuration called `productionRuntimeClasspath` that doesn't include the devtools (and possibly other dependencies of the `developmentOnly` configuration).

Example in build.gradle:
[code]
The references constant is not public, which is why I've created an issue at the spring boot projec

[2021-05-27 18:37] meltsufin commented on #3269
@lukeSky3434 Can you just define the plugin in two different Maven profiles with different configurations?

[2021-05-27 19:21] chanseokoh commented on #3269
This is already doable. What you are asking for is to create and push a manifest _list_. You just need to list all the platforms you want., e.g.,

[code]
In this scenario, Jib will build two "images" (manifests, to be correct, where are a small JSON file), each based on one of the two amd and arm base images. Then it will create a manifest _list_ (another small JSON file) and push it. The tag `1.0

[2021-05-27 19:22] #3269 closed

[2021-05-27 19:30] chanseokoh commented on #3244
I'm certain this mirror feature is working correctly. Closing as we haven't heard back, but feel free to update any feedback.

BTW, a mirror/cache registry is a normal container registry, so you can easily run a registry (even locally) and push images of your interest.

[2021-05-27 19:30] #3244 closed

[2021-05-27 20:19] lukeSky3434 commented on #3269
Thats not what I mean, I know how to create and push a manifest list, and how to define such a thing, but  the question was a different one...

I have to use 2 images from a different location, because the one from distroless do not provide a image for arm/v7 - only for _amd64_, and the other for _arm/v7_ is from a different location, that means, i have two base images...

- <image>registry://gcr.

[2021-05-27 20:43] chanseokoh commented on #3269
This is not supported. In fact, supporting different registries (either for pull or push) are trickier than you think (authentication becomes a lot complicated). The close workarounds I can think of:

1. Individual build and push arm and amd images using Jib. Then create a manifest list yourself with the tag `1.0.0-slim` in that registry.

   I don't know what tools are readily available, but I kn

[2021-05-28 18:13] OneCricketeer opened #3271 "Entrypoint example with run-java-sh"
**Environment**: N/A

- *Jib version:* latest
- *Build tool:* Maven
- *OS:* Mac

**Description of the issue**:

[`run-java-sh`](https://github.com/fabric8io-images/run-java-sh) describes itself as a "_universal startup script for Java applications, especially crafted for being run from within containers_".

I understand Jib can offer `<entrypoint>` configs, yet would like to see an example of how

[2021-05-28 23:30] iamaverrick opened #3272 "[jib-gradle-plugin] Customizing credential helper"
**Environment**:

- *Jib version:*  2.8.0
- *Build tool:*  GRADLE
- *OS:*  Jenkins Slave

**Description of the issue**:

credential issues due to not having Amazon ECR Docker Credential Helper installed on jenkins slave container

**Expected behavior**:

we want to be able to use jib gradle command which uses docker client from gradle anyways to configure the Amazon ECR Docker Credential Helper so

[2021-05-29 08:56] aiman88 opened #3273 "How do I set permission in Directory."
In DockerFile, I can set folder permission like below :

[code]

But in **maven.jib,** i understand RUN is not recommended. So how can I do the same in **maven.jib** ?

[2021-05-31 08:44] chtpl opened #3275 "How to handle pushes in multimodule project with immutable tags"
I have a multimodule Maven project with multiple Spring Boot microservices, one per maven module
Then I have an ECR with 2 repositories per microservice.
On repository receives tags "dev" and "stage" which are created by jib. Everytime deploying to dev or stage, the images will be overwritten by jib.

However, for production, I use proper version number tags and these must be immutable. Jib receiv

[2021-06-01 13:58] elefeint commented on #3275
If your releases are immutable, they are probably done by your CI, not from a local machine, right? Would the CI then release both A and B to version 1.0.1 in tandem? Or is it expected that each microservice will be released on its own schedule?

[2021-06-01 14:43] elefeint commented on #3273
@aiman88 You can set permissions on any extra directories with `-Djib.extraDirectories.permissions` option (see [options summary](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#extradirectories-object) and [arbitrary files docs](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#adding-arbitrary-files-to-the-image) for more details).

Would this meet

[2021-06-01 14:52] elefeint commented on #3271
@OneCricketeer Jib itself generates a runnable Java archive. Out of curiosity, how are you going to use `run-java-sh` -- do you need to spawn multiple Java processes or are you hoping to attach to the one Jib-generated container starts?

If you need to pass arguments to Jib container's JVM startup directly, you can do it with `-Djib.container.jvmFlags`. For example, to do profiling, you could prov

[2021-06-01 15:18] OneCricketeer commented on #3271
I'm aware of the jvmFlags build argument, but that doesn't answer the question.

Only if `containerizingMode = 'packaged'`, right? Otherwise, only archives are the layer for
 /app/lib?

[This FAQ section more closely matches what I am asking](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-need-to-add-files-generated-during-the-build-process-to-a-custom-directory-on-the-image

[2021-06-02 07:05] aiman88 commented on #3273
@elefeint , thanks for your reply..I was able to meet require by using other based images...but looking at the -`Djib.extraDirectories.permissions` it seem good also..

[2021-06-02 07:05] #3273 closed

[2021-06-02 09:54] NaitYoussef commented on #3238
Hello @meltsufin I would like to help with this issue

[2021-06-02 14:00] meltsufin commented on #3238
@NaitYoussef Sure, feel free to open a PR with the changes! Thanks!

[2021-06-02 14:28] elefeint commented on #3272
@iamaverrick Take a look at this [Stack Overflow post ](https://stackoverflow.com/a/64105567/10441462) from @chanseokoh -- it explains the underlying authentication mechanism, and alternatives to installing the ECR helper.

[2021-06-02 14:29] chtpl commented on #3275
they will be released together by the CI

[2021-06-02 14:39] bbarrington42 opened #3276 "Failed to verify server..."
Hello,
I'm trying to build the 'helloworld' project in the examples directory. Below is the error I'm getting. Any ideas on how to resolve this? Thanks.

mvn compile jib:build
...
[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:3.0.0:build (default-cli) on project helloworld: Build image failed, perhaps you should use a registry that supports HTTPS or set the configuration p

[2021-06-02 15:02] elefeint commented on #3271
There is a good example of setting a custom entrypoint in [this StackOverflow answer](https://stackoverflow.com/a/59361658/10441462) by @chanseokoh -- essentially, your first argument will be to invoke the shell, which is available in Jib versions after 3.0.

[2021-06-02 15:07] OneCricketeer commented on #3271
Thanks. Yes, I'm aware of the `<entrypoint>` config, but that answer specifies placing the script under `src/main/jib`

Still unclear on _how to address a resource that's pulled from a dependency_. Would that require `maven-resources-plugin`, for example?

[2021-06-02 15:20] elefeint commented on #3271
Oh, so your dependency script is not in the final image?

[2021-06-02 15:59] OneCricketeer commented on #3271
If I just add the dependency, it's pulled to the build path, sure, however I'm not connecting how that can be included in the resulting image...

Following the [example for the docker-maven-plugin](https://github.com/fabric8io-images/run-java-sh#maven-builds), how does one duplicate `ADD target/docker-extra/run-java/run-java.sh` layer in Jib?

[2021-06-02 16:30] mpeddada1 commented on #3271
Hey @OneCricketeer, using the `extraDirectories` feature as described in the [example mentioned above](https://github.com/GoogleContainerTools/jib/issues/3271#issuecomment-853103813) will add the script to the container image, therefore making it accessible to `<entrypoint>`. Note that `extraDirectories` is a way of doing `ADD` in Jib. You can also find more info about it in the [FAQ](https://gith

[2021-06-03 16:33] chanseokoh commented on #3276
This seems like an issue in your local dev environment. Take a look at this [Stack Overflow answer](https://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty). It's likely that any attempt to open an HTTPS connection on the JVM that your Maven is using will fail with the same error.

[2021-06-03 16:33] #3276 closed

[2021-06-03 17:08] OneCricketeer commented on #3271
What filesystem locations can `extraDirectories` access? All the examples I see only reference paths under `src/main/jib`, which externally downloaded files _are not_, which is my question.

[2021-06-03 17:54] chanseokoh commented on #3271
Updated a missing link in the comment above.

[2021-06-03 17:55] elefeint commented on #3275
Could you try `-DskipExistingImages` option, as in [this answer](https://github.com/GoogleContainerTools/jib/issues/3215#issuecomment-845352115) by @chanseokoh ?

[2021-06-03 19:52] chanseokoh commented on #3273
Using `-Djib.extraDirectories.permissions` alone will probably not work for `/home/www`, as this directory is from the base image and not the directory created with the extraDirectories feature. I noticed you also posted the same Stack Overflow question (although there you indicated 755 instead of 777), and I've left an [answer](https://stackoverflow.com/q/67748735/1701388) for more details.

[2021-06-03 19:57] chanseokoh commented on #3268
Responded to the user through multiple channels (including the GItter [gitter.im/google/jib](https://gitter.im/google/jib)), but no update so far. Closing due to inactivity. But to be clear, I don't believe there's a bug in Jib.

[2021-06-03 19:57] #3268 closed

[2021-06-04 02:05] OneCricketeer commented on #3271
Right, which, based on their example of including the dependency inside of the docker-maven-plugin definition, it should be doing that, and placing the files into `target/docker-extra/run-java/run-java.sh`, apparently, but what's unclear to me is how `docker-extra` path is determined since I cannot find a reference to that anywhere other than the README

Excluding repeated requests per-build, it'l

[2021-06-04 08:27] nikita2206 commented on #3271
@OneCricketeer I'm looking into this with my project as well and the way I'm doing it is by baking the run-java.sh script into the docker image and then using that docker image as a base in Jib (via `<from><image>quay.io/org/repo:latest</image></from>`). That's possibly the simplest way to do that without redownloading the script on every build.

[2021-06-04 12:50] mohan33 opened #3278 "Run commands from pom.xml"
Hello Team,
Using jib can we run commands like we do using DOCKER file.
**Eg**: RUN apk add --upgrade python3-dev

@mbruggmann @jponge @suztomo @sullis @glaforge

[2021-06-04 14:00] alpar-t opened #3279 "Can jib-core be used to creat multi manifest images?"
We are using jib-core to implement our own, opinionated Gradle plugin, that extends beyond the JDK ecosystem.
We would like to  build two slight different platform specific images and combine them in a multi manifest image. Each image might have a different statically linked executable added for the specific platform, but  they will start out from different platform specific base images.

e.g.  we

[2021-06-04 15:58] OneCricketeer commented on #3271
If you're referring to the cgroup memory configurations inside the container, should be similar with Java8u192+

e.g.`JAVA_TOOL_OPTIONS='-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:MaxRAMFraction=2'`

In my case, I'd simply like to pull an entrypoint script from an external dependency. I mainly only asked about `run-java-sh` project because it was a seemingly relatable pu

[2021-06-04 16:10] OneCricketeer commented on #3271
btw, the script is available in Maven Central, so wouldn't necessary need to download from Github

<https://repo1.maven.org/maven2/io/fabric8/run-java-sh/1.3.8/run-java-sh-1.3.8-sh.sh>

[2021-06-04 16:20] OneCricketeer commented on #2951
Last I heard, Jackson is still _faster_ than GSON.

[2021-06-04 18:13] chanseokoh commented on #3279
Hey @alpar-t! The answer is yes. For example, call `JibContainerBuilder.setPlatforms()` (or `addPlatforms()`) with multiple platforms. If you are building based on some existing base images, the base image reference should be a manifest list that contains all the platforms you specified. Jib will build and push multiple platform-specific images to the registry (they will not have tags), followed b

[2021-06-04 18:17] chanseokoh commented on #3279
Also note that you should be able to create and push a manifest list (which is just a small JSON) for existing images (`base-linux_aarch64` and `base-linux_x86_64` in your case) using external tools. For example, see https://github.com/GoogleContainerTools/jib/issues/3269#issuecomment-849928759

[2021-06-04 18:18] #3279 closed

[2021-06-04 19:05] chanseokoh commented on #3278
Please see https://github.com/GoogleContainerTools/jib/issues/2383#issuecomment-617251882

However, often there are other approaches to achieve your final goal. For example, I see you want to install some OS package (Python dev runtime in this case), so you could use the base image that already has the required packages (e.g., the official Python Docker Hub image), or prepare your own custom base

[2021-06-04 19:05] #3278 closed

[2021-06-04 19:05] chanseokoh commented on #3278
Fee free to update if you have more questions.

[2021-06-04 19:27] chanseokoh commented on #3271
Thanks all for the updates and insights. As of now, the only approaches I can think of as viable options are those in https://github.com/GoogleContainerTools/jib/issues/3271#issuecomment-854066423 or baking the file into a base image. This `run-java-sh` dependency behavior seems like fairly special, and we have no plan to natively support this scenario. Hope this issue thread helped.

[2021-06-04 19:27] #3271 closed

[2021-06-04 19:50] chanseokoh commented on #3094
Fixed by #3094.

[2021-06-04 19:50] #3094 closed

[2021-06-04 23:55] OneCricketeer commented on #3271
AFAICT, using an entrypoint script is a regularly asked scenario ( #3147 for example would be useful for exposing the class name to the script ) , not sure if it matters if it is part of the project, the base image, or external.

My question was asking how that can be done from a dependency, which I know would eventually get pulled into `target/`, so should I be able to reference `<entrypoint>${pr

[2021-06-07 07:07] alpar-t commented on #3279
Thanks for the help!
It seems to me that I would still not be able to customize the images Jib generates based on the platform.
e.g.  add `tool-arm64` or  `tool-amd64`  to the images generated by Jib (that are pushed without a tag).
My only option would be to generate separate images with jib and use the manifest tool at the very end.

[2021-06-07 10:21] sreejesh-radhakrishnan-db opened #3281 "error while uplading image to artifactory"
Execution failed for task ':jib'.

Raising this as prompted by the URL. I am sorry if this is not the right way.

[2021-06-07 13:08] fanonxr opened #3282 "Failing to pull/push image due to missing method on google http java client"
**Environment**: IntellIJ, java version 1.8, local env

- *Jib version:*  0.18.0
- *Build tool:* Maven
- *OS:* Mac OS Catalina

**Description of the issue**:

I'm getting an error when attempting to pull from one cloud registry to another. The error seems to stem from the google http java client that is using does not have a particular method to pull the image from a registry.

Here is my code:

[

[2021-06-07 14:55] mpeddada1 commented on #3282
Hi, your project seems to be pulling in an older version of google http java client. Looks like @chanseokoh already responded to your [Stackoverflow question](https://stackoverflow.com/questions/67864804/pull-image-from-one-registry-in-the-cloud-and-push-to-another-registry-in-the-cl).

[2021-06-07 16:54] elharo opened #3283 "Reconsider " If this is a bug, please file an issue at https://github.com/GoogleContainerTools/jib/issues/new""
In about six files. Most cases seem unlikely to be bugs.

[2021-06-07 16:57] elharo commented on #3282
Make sure you're using google-http-java-client 1.34.1 or later. 1.34.0 would probably work too, but best is to use the latest, 1.39.2.

[2021-06-07 16:57] #3282 closed

[2021-06-07 17:09] mpeddada1 commented on #3281
Hey @sreejesh-radhakrishnan-db, would you be able to provide more info on how you set up your jib configuration (for example, `pom.xml` if using Maven or `build.gradle` if using Gradle)? Additionally, a full stacktrace would also be helpful.

[2021-06-07 17:15] elharo commented on #2951
This change is required per security team advice.

[2021-06-07 17:24] fanonxr commented on #3282
Okay thanks! that did the trick.

[2021-06-07 20:50] mpeddada1 commented on #3283
Thanks, that is a good point. The word "bug" can be misleading because it may not always be the case that something is broken. Perhaps we can rephrase it to "If you need more assistance with this, please file an issue ..."

[2021-06-08 08:03] PriyankPa opened #3286 "Need a standardized way to create users from pom file configuration in order to run as non-root"
Since the best practice is to run docker containers as non-root user, jib should provide a standardized way to create users via pom file configuration.

Creating a secure image is right now too cumbersome which pushes users to build less secure builds with jib.

I have seen thread https://github.com/GoogleContainerTools/jib/issues/1029 and know the work around but it worse than using a custom imag

[2021-06-08 11:03] elharo commented on #3283
I'm not sure I even want to go that far. Given current support for jib, I'd prefer not to create extra issues in the repo and an expectation of unpaid support. I'm happy to receive genuine bugs here, but I'd prefer to leave it at that.

[2021-06-08 11:03] elharo commented on #3283
Plus stack overflow is a better channel for general questions than Github.

[2021-06-08 11:52] #3272 closed

[2021-06-08 14:21] chanseokoh commented on #3271
If this is the case and as long as the file exists at `target/foo/bar/entrypoint.sh` by the time Jib runs (by whatever means, by `maven-resources-plugin`, whether extracted from a dependency somehow, etc.), you should be able to copy that file into an image (e.g., at `/script/entrypoint.sh`) using `<extraDirectories>`. Just make sure the file gets placed before the Jib plugin runs. And note, then,

[2021-06-08 14:25] chanseokoh commented on #3279
Ah, so you're saying you want to also add individual tags to all of the platform-specific image (in addition to the final manifest list)? That's not supported.

[2021-06-08 14:29] chanseokoh commented on #3283
Yeah, time to rephrase/remove them. They were put in the old days where we were not GA and a lot of things were unsupported and unknown.

[2021-06-08 14:58] sreejesh-radhakrishnan-db commented on #3281
build.gradle  jib config

jib {    val projectVersion = project.version.toString().replace('+', '-')
    val defaultTag = if (project.hasProperty("dockerTag")) project.property("dockerTag") else "none"    //${ARTIFACTORY_URL}/dkr-public-local/${ARTIFACTORY_NAMESPACE}/${IMAGE_NAME}:${GITHUB_SHA}    //100.80.114.231//dkr-public-local/com/db/grouppartymaster/gpm-hello-world:&lt;generic value GITHUB c

[2021-06-08 15:00] sreejesh-radhakrishnan-db commented on #3281
To add this JOB does pass intermittent and upload to Artifactory.  But the build failed 9/10 times

[2021-06-08 18:59] chanseokoh commented on #3286
There are certain things in Jib that are inherently or purposely not applicable due to the nature of the Jib paradigm, and one of them is to actually execute a command on some container runtime (mostly the Docker runtime) during builds: #3278.

But I think it is not impossible to create new `/etc/passwd` based on the content of the file in a base image in a declarative manner without a command exe

[2021-06-08 19:14] mpeddada1 commented on #3281
At first glance, if this problem is occurring intermittently then I suspect that there must something happening on the server side. I want you to check a few things first:
1. Does pushing to Artifactory work with the docker cli? I noticed this open issue on Artifactory ([RTFACT-21165 Docker image push fails with: `unexpected status: 404 Not Found`](https://www.jfrog.com/jira/browse/RTFACT-21165))

[2021-06-08 20:20] #3170 closed

[2021-06-08 21:45] #1871 closed

[2021-06-09 10:15] JacekDuszenko commented on #3283
Hey, I'd like to take a stab at this :)

[2021-06-09 12:34] elharo commented on #3283
Thanks, You can send the review to me if you like. CLA will be required. Google practices TDD so be sure to write or modify tests first before changing the model code.

[2021-06-09 15:31] github-actions[bot] opened #3288 "Plugin Release v3.1.0-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.1.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-06-09 16:10] github-actions[bot] opened #3290 "Plugin Release v3.1.0-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.1.0` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-06-09 20:34] chanseokoh commented on #1871
@xiaopihai7256 @luxingxiao Jib 3.1.0 is released, which creates two JVM argument files inside an image. One of them is the Java runtime classpath where all the dependencies are explicitly enumerated, which enables Jib to preseve the depending loading order by using this file *for Java 9+*. (For Java 8, you have to continue to set `expandClasspathDependencies` to true.)

For those interested, see [

[2021-06-09 20:36] chanseokoh commented on #2733
@saturnism @cpopp Jib 3.1.0 is released, which creates two JVM argument files inside an image. One of them is the Java runtime classpath where all the dependencies are explicitly enumerated, which enables Jib to preseve the depending loading order by using this file *for Java 9+*. (For Java 8, you have to continue to set `expandClasspathDependencies` to true.)

For those interested, see [here](htt

[2021-06-09 20:36] chanseokoh commented on #1907
@raizoor @snowe2010 Jib 3.1.0 is released, which creates two JVM argument files inside an image. One of them is the Java runtime classpath where all the dependencies are explicitly enumerated, which enables Jib to preseve the depending loading order by using this file *for Java 9+*. (For Java 8, you have to continue to set `expandClasspathDependencies` to true.)

For those interested, see [here](h

[2021-06-09 20:44] chanseokoh commented on #894
@remmeier @mfriedenhagen @leonard84 @dtreskunov @OneCricketeer @tellisnz-shift @seanabraham @tomikmar @flobjective

Previously we suggested an extension approach to the issue. With Jib 3.1 that we just released, we claim that the issue can be finally resolved with a reasonably good option.

Jib 3.1.0 creates two new JVM argument files inside an image, where they hold the computed classpath and the

[2021-06-09 20:44] #894 closed

[2021-06-09 20:47] chanseokoh commented on #3147
@thomasmey as I said in https://github.com/GoogleContainerTools/jib/issues/3147#issuecomment-819065992, I think the extension you wrote has an issue to use in practice.

We just released Jib 3.1.0, which creates two new JVM argument files inside an image, where they hold the computed classpath and the main class respectively. It will be trivial to retrieve these values from a shell. See [the doc](

[2021-06-09 20:47] #3147 closed

[2021-06-09 20:50] chanseokoh commented on #1640
@eisig @ccjeaty @rajetta @tomikmar @davidk81

We just released Jib 3.1, and note that #894 is closed. Check out the resolution there: https://github.com/GoogleContainerTools/jib/issues/894#issuecomment-858087667

[2021-06-09 21:05] chanseokoh commented on #2471
@saturnism @rmannibucau @koeberlue @holledauer @olivierboudet @bric3 @guillaumeblaquiere @bilak @bademux @ykayacan @bilak @biro456 @zecit @chlund

Jib 3.1.0 is released and it creates two new JVM argument files inside an image, where they hold the computed classpath and the main class respectively. Although I haven't tried, I think this will greatly simplify the process to generate and use AppCDS.

[2021-06-09 21:09] chanseokoh commented on #3239
@briananderson1222 Jib 3.1.0 is released with this fix. Let us know if you still experience an issue.

[2021-06-09 21:11] chanseokoh commented on #3094
@remy-tiitre @ChristianCiach @NaitYoussef Jib 3.1.0 is released with this support. Let us know if it doesn't work.

[2021-06-09 21:44] chanseokoh commented on #3290
Completed.

[2021-06-09 21:44] #3290 closed

[2021-06-09 21:44] chanseokoh commented on #3288
Completed.

[2021-06-09 21:44] #3288 closed

[2021-06-09 22:06] JacekDuszenko commented on #3283
@elharo  I've just submitted a PR: #3294
Feel free to take a look in your free time
Thanks!

[2021-06-09 23:07] #3283 closed

[2021-06-10 06:16] rmannibucau commented on #2471
@chanseokoh hello, I fear it does not do anything since CDS is only about tuning the JAVA_OPTS base image env variable (_JAVA_OPTIONS often too) to enable or not the CDS archive once generated but all the missing part is the generation, not the enablement.

Side note: this "file" feature likely need the same for system properties to be useful, otherwise it is quite trivial to replace the entrypoin

[2021-06-10 08:21] siwyd commented on #894
@chanseokoh Thanks, I believe I can get rid of our custom Jib extension now!

[2021-06-10 08:47] estambakio-sc opened #3295 "After upgrading jib-maven-plugin from 3.0.0 to 3.1.0 entrypoint=INHERIT doesn't ignore mainClass"
**Environment**:

- *Jib version:* 3.1.0 (jib-maven-plugin)
- *Build tool:* Maven 3.6.3
- *OS:* Linux

**Description of the issue**:

After updating `jib-maven-plugin` from version `3.0.0` to version `3.1.0` execution of `dockerBuild` goal for container with container.entrypoint=INHERIT configuration option fails with error:

[code]

[README says](https://github.com/GoogleContainerTools/jib/blob/m

[2021-06-10 14:27] chanseokoh commented on #3295
Will fix this and make a patch release.

[2021-06-10 16:00] chanseokoh commented on #2471
@rmannibucau to be fair, in the AppCDS context, I was mainly talking about the ugliness of this hack:
[code]
Also even though you can always hardcode the classpath that Jib would use by default, but I never liked the idea, because the way it is computed is an internal detail that may change in newer versions (which turned out to be true now that Jib uses an argument file and with the `expandClassp

[2021-06-10 16:21] #3295 closed

[2021-06-10 17:27] rmannibucau commented on #2471
@chanseokoh I see the point but this is still overridable from the yaml or CLI so being able to run some docker command before creating the final image is really the missing piece (or doing it in plain java since most needed steps are doable without running another java - but requires some internal knowledge IIRC). That said, thinking out loud, it can be another GoogleContainerTools project (exper

[2021-06-10 18:46] github-actions[bot] opened #3299 "Plugin Release v3.1.1-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.1.1` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-06-10 18:47] github-actions[bot] opened #3301 "Plugin Release v3.1.1-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.1.1` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-06-11 14:55] github-actions[bot] opened #3304 "Core Release v0.19.0-core"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-core/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-core/README.md)
- [x] Publish [Release](https://github.com/GoogleContainerTools/jib/releases/tag/untagged-43457ea

[2021-06-11 15:35] #3299 closed

[2021-06-11 15:36] #3301 closed

[2021-06-11 19:56] chanseokoh commented on #3281
Yeah, whenever we get this kind of intermittent upload failure, it has always turned out to be a server bug (when the root cause was identified).

BTW, I've updated the instructions there in the comment as they were a bit outdated.

[2021-06-11 20:01] chanseokoh commented on #3281
And I expect passing `-Djib.serialize=false` will not fail. Although it completely turns off concurrency in Jib and will make a build very slow, it may be better than trying 10 more times until it succeeds.

[2021-06-12 00:06] JacekDuszenko commented on #3214
@chanseokoh @saptaswapal I noticed this task hasn't been worked on for some time now and I'd like to contribute. May I take this over?

[2021-06-12 16:56] JacekDuszenko commented on #3214
I assumed I can start working on the task and submitted a PR. @chanseokoh, feel free to  review at your free time! #3306

[2021-06-12 19:57] mfriedenhagen commented on #894
🙌 @chanseokoh very useful, that will help tremendously with the shell script. Thanks a lot

[2021-06-13 12:00] seetaramrao opened #3307 "401 Unauthorized while pushing build to docker hub"
**Environment**:

- *Jib version:*  2.5.0
- *Build tool:* Maven
- *OS:*  Windows 10 Home

**Description of the issue**:
Getting authorization error while pushing build to docker hub.

**Expected behavior**:
Docker image should be available in docker hub

**Steps to reproduce**:

  1.  Run jib:build from maven plugins
  2.
  3.

**`jib-maven-plugin` Configuration**:
[code]

**Log output**:
[code]

[2021-06-14 13:42] elharo commented on #3307
How do you normally authorize with Docker hub?

[2021-06-14 14:13] seetaramrao commented on #3307
This is the first time I am using docker push

[2021-06-14 14:13] seetaramrao commented on #3307
I never used it before

[2021-06-14 14:38] chanseokoh commented on #3307
[code]
If your Docker Hub account name is `seetaramao`, a destination image reference should be in the form of `<account name>/<image-name>`. (You don't specify a hostname for Docker Hub. And unlike other registries, Docker Hub [doesn't support multi-level repository names](https://github.com/GoogleContainerTools/jib/issues/2650#issuecomment-667323777), so you can't have `seetaramao/my-demos/anoth

[2021-06-14 14:38] #3307 closed

[2021-06-14 16:09] chanseokoh commented on #2471
Thanks for the feedback! We did envision a grand plan to be able to use a container runtime, which we thought would also help with GraalVM native-image. Doesn't seem like we can reach that state anytime soon though. Another wrapper-like tool is a cool idea too.

[2021-06-14 16:41] mpeddada1 commented on #3158
@davidtron thanks again for your contribution! Jib-Core 0.19.0 has been release your fix (#3158).

[2021-06-14 16:49] #3304 closed

[2021-06-14 17:03] rmannibucau commented on #2471
Geronimo arthur already handles graalvm wrapping jib, only cds remains ;)

[2021-06-14 18:21] chanseokoh commented on #2471
Ah, very interesting project. Thanks for the pointer.

[2021-06-15 13:56] #3214 closed

[2021-06-15 16:18] patsevanton opened #3309 "Authenticating with a personal access token to ghcr.io"
Hello! Thanks for

I can Authenticating with a personal access token to ghcr.io
[code]

But how Authenticating with a personal access token to ghcr.io by  jib ?
[code]

[2021-06-15 16:21] patsevanton commented on #3309
[code]

[2021-06-15 16:38] chanseokoh commented on #3309
If you can do `docker login` as you've shown before running `gradle jib`, it should work. Jib will pick up the login credentials from `docker login`. If you decide to use `jib.to.auth`, then the username and the password will be exactly those you use with `docker login`. No surprise there. But please do take a look at this [Stack Overflow answer](https://stackoverflow.com/a/64105567/1701388) first

[2021-06-15 16:38] #3309 closed

[2021-06-17 09:45] moondowner commented on #2637
@loosebazooka @listaction you've probably resolved this by now, but I'll add this comment for future people that may end up on this ticket while browsing for a solution:

Here's an example:

[code]

[2021-06-22 10:01] WesternGun opened #3313 "jib maven plugin 3.0.0 does not impose mainClass property while 3.1.0 does; but I just want to run a jar file"
I have defined this pom.xml:
[code]

What I want to do, is to run `java -jar wiremock-xxx.jar` in my image.

When the plugin version is 3.0.0, the build and run succeeds. But, when I change to 3.1.0, `mvn jib:dockerBuild` errors out:

[code]

I know running a jar is not the most recommended way of using jib, but I think jib should allows it. And 3.0.0 to 3.1.0 is a minor version upgrade, there sho

[2021-06-22 10:36] Juanma97 opened #3314 "Error push docker image"
When I push an image to docker hub, I retrieve this:

[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:1.7.0:build (default-cli) on project common: Tried to retrieve authentication method for registry.hub.docker.com but failed because: registry returned error code 404; possible causes include invalid or wrong reference. Actual error output follows:

Openjdk11

The docker logi

[2021-06-22 13:33] gvemula opened #3315 "Broken Pipe error"
[jenkins_build_error.log](https://github.com/GoogleContainerTools/jib/files/6694573/jenkins_build_error.log)
**Environment**: Cent Os

- *Jib version:* 3.1.1
- *Build tool:* maven
- *OS:* CentOS

**Description of the issue**:
Execute a build with Jenking using command "clean package com.google.cloud.tools:jib-maven-plugin:3.1.1:build -Dimage=gcr.io/careful-record-316411/config-ui"
It sends error w

[2021-06-22 13:59] chanseokoh commented on #3313
Sorry for the trouble. It's a regression introduced in 3.1.0. Use 3.1.1, you should be all good.

Closing as a dup of #3295.

[2021-06-22 13:59] #3313 closed

[2021-06-22 14:06] chanseokoh commented on #3313
BTW, you don't need `<tags>`. They are actually "additional tags". (I know the naming choice was not good.) `<image>${docker.image}</image>` already implies `<image>${docker.image}:latest</image>`.
[code]
And I think there will be quite an inefficiency in your built image. Seems like you're copying all the dependency JARs and the app JAR yourself, which is what Jib is already doing. You're duplica

[2021-06-22 17:19] dzou commented on #3315
Thanks for the report.

I wasn't able to reproduce this problem following your instructions. I took the [Jib Sample Spring Boot Project](https://github.com/GoogleContainerTools/jib/tree/master/examples/spring-boot) and ran the command:

[code]

I was able to successfully upload the image to GCR.

Note that `broken pipe` means an error on server-side and may be a transient error. Could you try agai

[2021-06-22 17:19] dzou commented on #3315
Thanks for the report.

I wasn't able to reproduce this problem following your instructions. I took the [Jib Sample Spring Boot Project](https://github.com/GoogleContainerTools/jib/tree/master/examples/spring-boot) and ran the command:

[code]

I was able to successfully upload the image to GCR.

Note that `broken pipe` means an error on server-side and may be a transient error. Could you try agai

[2021-06-22 18:10] dzou commented on #3314
So I think should be supported but it's just a configuration error.

Could you share more details about the command and configuration that you run and how you are referencing the image? Also please share the jib plugin configuration you're using in pom.xml, specifically the `jib.to.image` and `jib.from.image`.

Also you should use jib version 3.1.1; version 1.7.0 is quite old.

[2021-06-23 10:02] ac-arconomy opened #3318 "Google Cloud Build failing - java.lang.NullPointerException (no error message)"
Hi All - I have been battling for couple of days with a java.lang.NullPointerException (no error message) while trying to build using google cloud build. Can someone help please? I can build locally with gradle jib and push to gcr.io - but this build fails when using google cloud build. Any ideas?

starting build "914da360-2dee-4801-91a0-6536fadbbcc9"

FETCHSOURCE
hint: Using 'master' as the name

[2021-06-23 11:07] ac-arconomy commented on #3318
Fixed it by moving to gradle:7.1.0-jdk11

:-)

[2021-06-23 11:07] #3318 closed

[2021-06-24 14:03] github-actions[bot] opened #3320 "CLI Release v0.7.0-cli"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-cli/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-cli/README.md)
- [x] Publish [Release](https://github.com/GoogleContainerTools/jib/releases/tag/untagged-40924883e

[2021-06-24 16:54] gvemula commented on #3315
Hi @dzou

Thanks for the reply. Issue is when using same command from Jenkins.
I did set roles/cloudbuild.builds.builder to service account in GCP,   i think JIB does not use "Google Service Account from private key" configuration of Jenkins.

Error log:

[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:3.1.1:build (default-cli) on project liverpool-configuration: Build image

[2021-06-24 17:57] dzou commented on #3315
Interesting. So I think the error message means that your service account is getting picked up, however you have not configured the correct permissions for it to access Google Cloud Storage.

Can you confirm that your service account does indeed have storage permissions? Maybe try storage.admin first, then reducing to the minimal working scope. Follow instructions here:
https://cloud.google.com/co

[2021-06-24 18:20] gvemula commented on #3315
Hi @dzou

I set following permissions.

Cloud Build Service Account
Compute Admin
Compute Network Admin
Compute Security Admin
Security Admin
Service Account Key Admin
Project IAM Admin
Storage Admin
Storage Object Viewer

Issue is jib in Jenkins does not take credentials that are configured as "Google Service Account from private key"

[2021-06-24 19:52] dzou commented on #3315
Jib [supported service account key authentication since version 1.5.0](https://github.com/GoogleContainerTools/jib/issues/1903), so the issue is that something in your configuration is not quite correct.

Could you share how you are setting the service account in Jenkins?

According to your Jenkins logs, it looks like you already have some default credentials that is different from your service ac

[2021-06-25 14:04] TimVonsee opened #3322 "Can't push to gcp because it tries to fetch auth. method from our landing page server which results in a 404."
**Environment**:

- *Jib version: 3.1.1*
- *Build tool: Maven 2.81*

**Description of the issue**:
I can't push to gcp because its not picking up that I want to use gcloud authentication to push to our gcp container registry. It tries to fetch an auth. method from our homepage example.com (it probably resolved this url by our reversed packaging?).
I can manually push images to gcp, I have setup do

[2021-06-25 15:50] chanseokoh commented on #3281
@sreejesh-radhakrishnan-db any news? I highly suspect a concurrency issue in Artifactory. If you carefully follow the instructions in https://github.com/GoogleContainerTools/jib/issues/2372#issuecomment-606671996 (or https://github.com/GoogleContainerTools/jib/issues/2470#issuecomment-630203903) and provide us with very detailed logs and info, most often we will be able to prove that a registry is

[2021-06-25 15:50] #3281 closed

[2021-06-25 17:52] dzou commented on #3322
From the logs you can see it that it is getting stuck trying to download the `openjdk:${jdk.version}-jre-slim-buster` base docker image; it is not related to Google auth but authenticating to a Docker container registry. Also note, Jib tries to download this image from several places -- first com.example, then registry.hub.docker.com, then index.docker.io, etc. It does not simply fail at `example.

[2021-06-25 18:10] TimVonsee commented on #3322
I see, now I get it. Thanks for the quick reply!

[2021-06-25 18:18] dzou commented on #3322
Hi @TimVonsee -- Looking at the logs, I think I may be mistaken. I think the problem is not related to the base image actually.

According to @chanseokoh, it looks like Jib is told to contact `example.com` based on `jib.to.image`. So somewhere in your config, `jib.to.image` is set to `example.com/...`.

If you can give it another try on the command line, try overriding the `jib.to.image` manually

[2021-06-25 18:31] #3320 closed

[2021-06-27 02:43] disinghss opened #3325 "upload docker image to docker artifactory."
I want to upload a docker image using google jib core to docker registry. Is there some reference for pushing docker image to docker registry using jib core?

I am getting this error:
com.google.cloud.tools.jib.registry.RegistryErrorException: Tried to push BLOB for docker.io/disingh5079/test:latest with digest sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792 but failed beca

[2021-06-28 08:17] WesternGun commented on #3313
Thanks for correcting this.
Actually what this image does is not the normal "build my classes to a jar"; it uses the dependency Wiremock-standalone jar and runs it, because it is executable. `__files` and `mappings` in extraDirectories are xml and json files, they are definitions files for Wiremock. So there's no my code to run.
What I don't know is if running with maven, can I just run my depende

[2021-06-28 09:27] edgarvonk commented on #3058
Just to note that we have the same issue with the 3.1.1 release. Downgrading the Google HTTP Client dependencies to 2.7.0 as per above works for us as well.

[2021-06-28 10:34] TimVonsee commented on #3322
I overlooked the fact that the in the parent pom's `<properties>` the image tag was set to `<image>com.example/${project.artifactId}</image>`. Because of this, the override didn't work either and made me re-check our parent POM's config, as you pointed out, and found the error. Anyway, thanks for the help!

[2021-06-28 14:44] chanseokoh commented on #3313
I looked at your `pom.xml` again, and here's what is happening exactly.

The following is not working as you intended and is being ignored. `<from>` must be a directory and cannot be a glob pattern. You should remove it. Believe me, it's being ignored.
[code]
Therefore, it's also unnecessary to define `maven-dependency-plugin` like below, whose intention I believe was to prepare `<project>/libs` f

[2021-06-28 14:48] dzou commented on #3322
Nice, glad to hear you figured it out :+1: .

Going to close, feel free to re-open if you have other questions.

[2021-06-28 14:48] #3322 closed

[2021-06-28 15:50] suztomo commented on #3325
Checking...

[2021-06-28 16:09] suztomo commented on #3325
@disinghss Would you share an example project that I can reproduce your problem?

Memo: another user recently had a similar issue https://github.com/GoogleContainerTools/jib/issues/3314 where the person was using old version of jib but details weren't provided.

[2021-06-28 17:12] disinghss commented on #3325
@suztomo Now I switched to using the latest version 0.19.0 for the jib-core in pom file.

[code]

I am referring to this integration test to push the docker image to the docker registry. https://github.com/GoogleContainerTools/jib/blob/master/jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/BlobPusherIntegrationTest.java

I am getting this error now:
[code]

[2021-06-28 17:58] disinghss commented on #3325
@suztomo one clarification question, I have uploaded a docker image(tar file) to object storage, can I upload the image from object storage to docker registry using jib core library, In this case how will I get the descriptorDigest, as I am not generating a docker image locally using docker build.

DescriptorDigest testBlobDigest =
                DescriptorDigest.fromHash(

[2021-06-28 21:10] ericsmalling opened #3327 "FAQ has typo in link to default_base_image.md"
**Environment**:

N/A

**Description of the issue**:

FAQ typo where linking to default_base_image.md

**Expected behavior**:

Markdown should be valid ;)

**Steps to reproduce**:

  1. Search for default_base_image.md
  2. Note it's not a link

[2021-06-28 22:04] chanseokoh commented on #3325
1. Your original error:
[code]
   This is because you specified a wrong Docker Hub image reference name. But I believe you got passed the error; I can see you used `registry-1.docker.io` instead of just `docker.io`.

2. Jib Core API

   The classes and methods in the integration test are low-level internal ones. You shouldn't be using them. Only those classes in `com.google.cloud.tools.jib.api` (s

[2021-06-29 02:32] disinghss commented on #3325
@chanseokoh Thank you so much for the detailed explanation!! I will go through the suggested changes.

[2021-06-29 13:53] suztomo commented on #3325
Great. Let us know if you encounter problem.

[2021-06-29 14:00] chanseokoh commented on #3327
@ericsmalling thanks again!

[2021-06-29 14:07] josephglanville opened #3330 "How to disable pushing of `latest` tag."
Hi,

When using a repository with tag immutability enabled (i.e ECR) attempting to re-push the `latest` tag causes the push to fail.

Is there currently a way to disable pushing this tag by default?
I tried overriding with `to.tags` but this only adds additional tags it doesn't prevent attempting to push `latest`.

[2021-06-29 14:25] suztomo commented on #3330
Checking...

[2021-06-29 14:52] suztomo commented on #3330
@josephglanville Would you specify a tag explicitly rather than (implicit) 'latest' tag?

The 'latest' tag is used when you don't specify a tag when pushing image to a repository. (c.f. https://github.com/GoogleContainerTools/jib/issues/2395)

When your repository still complains, please use this property:

(from https://github.com/GoogleContainerTools/jib/issues/3057 )

[2021-06-29 15:26] josephglanville commented on #3330
I see, I resolved the issue by setting the tag in `to.image` rather than in `to.tags`.

i.e: `to.image = "registry/repo/image:myTag"`

This successfully prevents `latest` from being pushed.

Thanks!

[2021-06-29 15:26] #3330 closed

[2021-06-30 11:19] WesternGun commented on #3313
That explains what I saw in my image; I always have a "libs" layer in my image and I didn't know why. Thanks a lot! Very grateful.

[2021-06-30 14:30] chanseokoh commented on #2814
Haven't heard back from @vinod-tahelyani about their PR (#3093) for months. Will close the PR due to inactivity. This issue is again up for a *"good first issue"*, welcoming contributions.

[2021-06-30 14:37] chanseokoh commented on #3314
The cause is an invalid or wrong `jib.{from|to}.image` reference. We sometimes see people unfamiliar with Docker (or Docker Hub) run into an issue like this when they use a wrong convention or syntax. If anyone experiences a similar issue (especially seeing 404), check out https://github.com/GoogleContainerTools/jib/issues/2561#issuecomment-678420281.

[2021-06-30 14:37] #3314 closed

[2021-06-30 14:55] chanseokoh commented on #3315
I'll assume the issue is resolved. What's certain is that Jib picked up some Application Default Credentials and used them to successfully authenticate with `gcr.io`. The authentication was successful, and it's not that there's anything Jib is intervening or has to intervene in this auth flow. What really happened is that the ADC isn't authorized (i.e., doesn't have the permissions) to store image

[2021-06-30 14:55] #3315 closed

[2021-07-01 14:38] davinkevin opened #3331 "Classpath file (/app/jib-classpath-file) doesn't match libs folder if libraries have same artifactId/version"
**Environment**:

- *Jib version:* 3.1+ (3.1.0 and 3.1.1)
- *Build tool:* maven 3.6.3
- *OS:* MacOS 10.16

**Description of the issue**:

In our project, we have two dependencies with the `groupId` as only difference:

[code]

Both are, in this case, in the same version (which never happened before).

If I run the application, I end up with `ClassNotFoundException`.

If I dig a little in the appli

[2021-07-01 18:14] suztomo commented on #3331
I want to reproduce the case. Do you know a pair of Maven artifact coordinates which has the same artifactId and version?

[2021-07-01 18:37] chanseokoh commented on #3331
This is a bug in Jib. We'll work on fixing this, but it seems a bit tricky at the same time.

Workarounds:
1. Downgrade to 3.0 (so that it doesn't use the classpath argument file)
2. Set `jib.container.entrypoint` yourself, e.g.,
[code]
or specifying the main class as well like
[code]
BTW, Maven supports another format for a string list:
[code]

[2021-07-02 05:15] davinkevin commented on #3331
I did downgrade the jib module to 3.0.0. This was the easiest solution while waiting for a fix.

Thank you for your support.

[2021-07-06 15:45] olivierboudet commented on #2471
In my case, I can't have it to work but perhaps it is a JDK issue.
I am using Jib 3.1.1 with a spring boot application.
When running with flags `-Xshare:dump -XX:SharedClassListFile=/tmp/cds/classes.lst -XX:SharedArchiveFile=/tmp/cds/application.jsa` I encounter the following error :
[code]
This is described in [this issue](https://bugs.openjdk.java.net/browse/JDK-8202289 ) but I am using OpenJDK

[2021-07-06 17:53] rmannibucau commented on #2471
@olivierboudet maybe use packaged mode?

[2021-07-06 17:59] olivierboudet commented on #2471
You are totally right, it works with packaged mode but I don't see the point to use Jib without building layered images.

[2021-07-06 18:01] rmannibucau commented on #2471
@olivierboudet nothing prevents you to use layered images, put spring-boot stack in a first image (a project without spring app, use SpringApplication as fake main) then your app with the spring-boot stack as a provided dependencies and voilà. Side note being pakcage mode is not related to layers, I spoke of using target/yourapp.jar instead of resources/ and classes.

[2021-07-07 07:08] chtpl commented on #3275
@elefeint it does not work :(

This is the profile I'm using

[code]

I use this command to run the build `mvn -B -Djib-dev=true -Djib.skipExistingImages`

[2021-07-07 07:09] chtpl commented on #3215
The skipExistingImages option does not work for me :/

This is the profile I'm using

[code]

I use this command to run the build `mvn -B -Djib-dev=true -Djib.skipExistingImages`

[2021-07-07 07:19] chtpl commented on #3275
@elharo could you please reopen the issue? Thx :)

[2021-07-07 07:32] karlmuscat commented on #3275
If you have a different SHA every time you build, then you have non-reproducible builds. This means that a different image is being built every time you commit (even though no code changes have happened in the actual module) and hence JIB will try to upload it. The option `skipExistingImages` only works if an image with the same SHA already exists on ECR.

[2021-07-07 07:42] chtpl commented on #3275
@karlmuscat thanks for the clarification.

An additional option like "-D.jib.skipExistingImagesMode" would be nice which would allow to use an option of either "SHA" or "TAG". When using "TAG", it should not check for the SHA but the TAG name being already on the registry

[2021-07-07 14:42] chanseokoh commented on #3215
@chtpl for documentation purposes: `-Djib.skipExistingImages` skips pushing images that already exist in a registry (i.e., when trying to push the same image). The "same image" here means the image with the exact same contents, which has the same image digest (SHA). `-Djib.skipExistingImages` doesn't skip pushing a different image only because a registry already has the same image tag.

[2021-07-08 16:47] jamesdh commented on #3094
@chanseokoh I believe you meant Fixed by #3242?

It might be worth mentioning somewhere that this can cause a breakage if using a Kotlin based build.gradle, causing a `Val cannot be reassigned` error.

[2021-07-08 17:36] chanseokoh commented on #3094
@jamesdh I guess you'll have to use `.set()` in Kotlin? Is that the only possible way?

[2021-07-08 20:13] #3331 closed

[2021-07-08 20:21] github-actions[bot] opened #3338 "Plugin Release v3.1.2-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.1.2` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-07-08 20:21] github-actions[bot] opened #3340 "Plugin Release v3.1.2-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.1.2` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-07-08 22:25] chanseokoh commented on #3275
@chtpl so we gave a thought on the skip-push-if-tag-exists idea, which is not difficult to implement. I can understand your situation, but this is a bit weird and I don't think we will implement that. It's like "I built a new, different image (in terms of SHA) but I will discard it only because there exists an outdated image in a target registry."

There may be some feasible workarounds in your si

[2021-07-09 13:59] chanseokoh commented on #3331
@davinkevin @orevial @pgillet @VixsTy we released Jib build plugins 3.1.2 which should fix this. Try it out.

[2021-07-09 18:42] #3340 closed

[2021-07-09 18:42] #3338 closed

[2021-07-09 18:42] #3325 closed

[2021-07-13 12:46] aleks-m opened #3343 "expandClasspathDependencies doesn't expand dependencies in app/jib-classpath-file"
**Environment**:

- *Jib version:* 3.1.2
- *Build tool:* Gradle 5.4.1
- *OS:* docker

**Description of the issue**: `app/jib-classpath-file` doesn't contain expanded paths even when expandClasspathDependencies is enabled (Java 8 source, custom entrypoint).

**Expected behavior**:
`app/jib-classpath-file` should contain expanded paths to dependencies. Or there should be any other way to preserve or

[2021-07-13 12:56] evandroabukamel commented on #3058
I'm using jib:3.1.2 with Kotlin and the code bellow solved for me. Thanks @mattupstate and @chanseokoh .

[code]

[2021-07-13 14:36] chanseokoh commented on #3058
Hmm... I wonder why it's always Gradle. I think it's always when a multi-module Gradle project. If so, the project should be set up in the way explained [here](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#i-am-seeing-method-not-found-or-class-not-found-errors-when-building). That is, defining all of your plugins in the base project while applying them selectively in your sub

[2021-07-13 20:33] elefeint commented on #3343
@aleks-m Could you double-check that you are exploring the newest image? `jib-classpath-file` should contain the expanded classpath.

[2021-07-14 11:24] aleks-m commented on #3343
@elefeint I tried to use `gradle:latest` image, `gradle:alpine` and `id "com.google.cloud.tools.jib" version "3.1.2"` Jib plugin with both images - always get a same result:

1. Expanded deps paths are being added to an image entrypoint:
[code]
2. `jib-classpath-file` in a resulting image contains only wildcard paths:
[code]

[2021-07-14 15:34] voznenkoD commented on #2237
The problem I think is different, and still persists. Because latest tag is still created even if no tag is passed, which is annoying and stops from branch/main approach of tagging.

[2021-07-14 18:01] chanseokoh commented on #2237
@voznenkoD but Jib is following the industry convention. If you do `docker push example.com/your-image`, the registry will have it as `example.com/your-image:latest`. And in all `docker` commands, if you don't specify a tag, `:latest` is implied.

[2021-07-14 18:05] chanseokoh commented on #2237
Oh, just realized you edited your comment. Our `to.tags` config actually means additional tags. (Yeah, bad naming, and we regret this naming choice, since a lot of people hit this issue.) So, if you want to push an image with a tag but without `:latest`, you should set the tag in the `<to><image>` like `<to><image>my-repo/my-image:my-tag</image></to>`.

[2021-07-14 20:38] chanseokoh commented on #3343
@aleks-m it is working correctly. Here's the proof. You can follow the exact same commands step-by-step to confirm yourself.

[code]
I suspect that you are looking at an old image. Since you're using Kubernetes, maybe you're hitting [this issue](https://stackoverflow.com/a/67403385/1701388)?

[2021-07-15 09:17] igor-dmitriev opened #3346 "Disable generating of the latest tag"
**Environment**:
- *Jib version:*
- 3.1.2
- *Build tool:*
- Maven
- *OS:*
any

**Description of the issue**:
I am using Immutable AWS ECR repository and when I run `mvn clean install jib:build`
it fails with an error that the latest tag already exists.

**Expected behavior**:
The latest tag should not be created and pushed

**Steps to reproduce**:

  1. Create an AWS ECR repository
  2. Enable Imm

[2021-07-15 15:10] aleks-m commented on #3343
Ahh... I found it. I am using GitLab CI and `def ciCommitRefSlug = System.getenv("CI_COMMIT_REF_SLUG")` to tag a resulting image, `CI_COMMIT_REF_SLUG` is lowercase. But in my `kubectl exec` command I specified an uppercase tag instead. By a coincidence that uppercase tag also existed in a registry, so I was really pulling an old resulting image.

Thanks for help. Closing this.

[2021-07-15 15:10] #3343 closed

[2021-07-15 20:14] zhumin8 commented on #3346
would use of `-Djib.to.image` property to setup a unique tag name do what you intend?

[2021-07-16 17:24] chanseokoh commented on #3346
@igor-dmitriev set the tags in `<to><image>`.
[code]
When you don't specify a tag in an image reference, `:latest` is implied, just like `docker push example.com/image` will push an image with the `:latest` tag. `<to><tags>` actually mean "additional" tags. (We regret the bad naming, sorry.)

Duplicates: #2237 #3330 (and many more)

[2021-07-16 17:24] #3346 closed

[2021-07-18 22:43] gbesancon opened #3347 "jibDockerBuild build randomly fails in multi-project setup with parrallel flag"
**Environment:**

*Jib version: 3.1.2
*Build tool: Gradle v7.0.2
*OS: Ubuntu-18.04
*JDK 14,
*Java source/target compatibility 12

**Description of the issue:**

In a multi-project gradle project with the flag org.gradle.parallel=true, the execution of the top level jibDockerBuild target randomly fails for one of the projects.
This seems to be due to the parrallel nature of the build.

**Steps to r

[2021-07-19 02:27] chanseokoh commented on #3347
@gbesancon could you get the full stack trace by running Gradle with `----stacktrace` (or `--debug --stacktrace` if that seems more useful)?

[2021-07-19 10:34] rmannibucau commented on #1409
up? on openshift we easily get SSL issues (indeed without any modification a relaunch works) when pushing concurrently layers so a proper retry would help on client side.

[2021-07-19 12:02] rmannibucau opened #3348 "Broken pipe check not portable (i18n)"
Hi,

Seems broken pipe error is tested without taking into account i18n so it is missed on most builds not using en:

Not sure the best fix (forcing the locale is likely not an option, whitelisting most of translation is maybe not)

[2021-07-19 16:27] meltsufin commented on #3348
@rmannibucau Thanks for bringing it to our attention. Maybe there is a way to force `en` locale just for the purposes of running the tests. What would be the benefit of testing under various locales?

[2021-07-19 16:34] rmannibucau commented on #3348
@meltsufin Locale.setDefault done very early (way too early for maven or gradle) will set it globally but it will also impact other parts of the application (if jib is embed it breaks rest of the app, same for maven). So forcing the locale can be doable with some JVM internals abuse but I wouldn't go that way, it would stay too fragile and will not solve the issue and let JIB not fix the issue thi

[2021-07-19 19:00] meltsufin commented on #3348
If anyone can come up with a check that is not message-dependent, please make a contribution. Otherwise, I think we'll leave it as a known limitation.

[2021-07-19 19:50] rmannibucau commented on #3348
The opposite can be worth checking, ie not handling it at all.
It is only about the error message and it is wrong regularly (whereas exception/cause does not lie) so maybe just drop the tentative to guess what happent?
The wrapping exception can point all potential cause instead of picking a random one.
Sounds like a good unification and solution to me.

[2021-07-19 21:07] meltsufin commented on #3348
@chanseokoh WDYT?

[2021-07-19 21:33] chanseokoh commented on #3348
I think the status quo is fine. It doesn't do any handling/processing/unrolling on the exception; it doesn't change the behavior of Jib at all, except that it only puts a couple more console output lines on the console for the US locale. And this has been actually very useful, because the only message you get from the broken pipe `SocketException` is just the two words "broken pipe" and nothing el

[2021-07-20 05:50] rmannibucau commented on #3348
@chanseokoh well fact is US locale is not the most common one even if common and when it fails with a broken pipe you can end up having a misleading error message (don't have it handy but think it was "check your credentials") which is worse.
side note: when i mentionned a wrapping exception it was about enriching the exception handling with a jib wrapping exception with more details about potenti

[2021-07-20 10:28] chtpl commented on #3275
I fixed this by using com.vackosar.gitflowincrementalbuilder plugin which only builds the services when there are changes so existing images will not be pushed againg

[2021-07-20 10:29] #3275 closed

[2021-07-20 14:08] chanseokoh commented on #3348
What we [log](https://github.com/GoogleContainerTools/jib/blob/6383ae1723cd3b7206daba3913fcfda0525ea48f/jib-core/src/main/java/com/google/cloud/tools/jib/registry/RegistryEndpointCaller.java#L221-L229) (only in the case of the US locale, which is not the most common one, of course) is
[code]
which we believe is not misleading.

I don't think there is a way to reliably determine in Java at any laye

[2021-07-20 14:15] rmannibucau commented on #3348
Since you are not using java http client but apache http client which is at socket level I think it is quite doable to track the socket to know if the client or server cut the connection.
Overall if not reliable I wouldn't add the feature at all to have a reliable behavior whatever locale is used.

it is because it happens when SSL is wrongly setup and or the server rejects it due to some overload

[2021-07-20 14:50] chanseokoh commented on #3348
Thanks for your input, but I think we want to keep the current logging. It's just that the user additionally sees a bit more longer message "broken pipe: <more explanations...>" than the two words "broken pipe" if in the US locale. Other than showing a bit more message, Jib doesn't do anything more than that; whether on US or not, Jib works exactly the same way, since there's no way to reliably de

[2021-07-20 14:58] rmannibucau commented on #3348
@chanseokoh well, don't want to fight a lot for that since it just misguide the user to the error cause (no proxy error or anything like that in the case I mentionned to be concrete and the different view between users just because they use a different locale does not help to solve the actual issue).
Yes the error is reported but the cause can be known adding more context in the http client, eithe

[2021-07-20 15:06] chanseokoh commented on #3348
I like the option 1, which is what we intended with the current logging (i.e., providing more context and explanation for what a "broken pipe" can mean for the user). Contributions are welcome. I added "good first issue."

Hmm... I don't really get why one needs to disable it? Jib currently doesn't "handle" it, so whether US or not, the same issue and symptom will be reproducible. As I said, the c

[2021-07-20 15:09] rmannibucau commented on #3348
Take the case of a distributed team (with N>1 locales).
You get a slack message "hey buddy, I get this error xxxxx", "ok let me try[time]hmm, I get this error here yyyy" and indeed xxx and yyy are not only different due to the locale so it requires more work for nothing to identify it is the same case.
This is why I think that not detecting broken pipes is fine and helping.

[2021-07-20 15:16] chanseokoh commented on #3348
I get what you're saying and also think you have a valid point. Anyways, I think the current message is reasonable and also has a value. The message starts with "broken pipe: ...", which is the most important part and doesn't change between different locales. In the past, we've got many issues opened with people reporting that Jib fails with a broken pipe; obviously many people don't know what it

[2021-07-20 15:24] rmannibucau commented on #3348
@chanseokoh fully agree on that point. Maybe we could just stack the error messages of the stack (without the stack traces)? The most complicated part of this task is to reproduce several cases (the one I got is quite random on openshift and I dont own the cluster so cant play much with it :(). So maybe let track this issue and link it when we get connection errors (or related) to refine the messa

[2021-07-20 16:18] chanseokoh commented on #3348
Sounds good. Let's leave this issue open for tracking.

Maybe we should try to go simple with just enhancing the current message (which is only for US unfortunately). Whenever there's a failure with an exception, ultimately that is the exception that Jib (and hence Maven and Gradle) throws in the end. Maven and Gradle suggests to check the full stack trace (`-X` / `--stacktrace`), which most Java

[2021-07-21 14:51] rmannibucau opened #3350 "Disable update check by default"
com.google.cloud.tools.jib.plugins.common.globalconfig.GlobalConfigTemplate#disableUpdateCheck default should be true until user explicitly accept to enable it IMHO.

Setting the field to true is sufficient to solve that issue.

[2021-07-21 18:36] meltsufin commented on #3350
Many products have update checks on by default. It helps with security and getting bug fixes ASAP.
Closing because it work as intended.
If you think there is a way to offer changing default more easily, we're open to that.

[2021-07-21 18:36] #3350 closed

[2021-07-22 03:21] gbesancon commented on #3347
I'm trying to reproduce it with the debug  and stacktrace on, but so far without success, though I still randomly reproduce the problem without the debug and stacktrace options.
I'm also trying to put together a sample project i could share that would reproduce the issue without the options or for which i could get the stacktrace.

[2021-07-22 05:49] rmannibucau commented on #3350
Well it only handles latest which will break as soon as you need major handling at least and it creates undesired requests which is impacting on low speed networks (phone).
Also note that most *libraries* (so it concerns jib-core, maven and gradle plugins) disable it by defaults (quartz did it some years ago: https://github.com/quartz-scheduler/quartz/commit/dfe1e5a3cc248e2a46a6ea55567aaa6dc8e15ca

[2021-07-22 14:24] chanseokoh commented on #3347
Maybe try just `--stacktrace` without `--debug`, since I guess `--debug` may interfere concurrency somehow. Anyways, I appreciate your effort to share a sample project.

[2021-07-22 15:35] chanseokoh commented on #3350
Appreciate your feedback. Certainly for jib-core, there's no update check implemented, as it doesn't make sense as a library. It's only for Jib build plugins and Jib CLI, and honestly, we don't consider Jib build plugins as libraries but as plugins for tools, so we think it's perfectly valid to implement an update check and at the same time having it turned on by default.

And this really helped t

[2021-07-22 15:50] rmannibucau commented on #3350
Well I cant say much for gradle but on maven side it is really bothering (pollutes logs, triggers wrong alerts when logs are parsed and duplicates the widely used and standard tooling without an associated handling in general - trivial example is that such tools make the build fial whereas the checker does not).

Any hope it gets disabled at least for maven plugin since it is not well integrated w

[2021-07-22 16:43] chanseokoh commented on #3350
In that case, it's simple to disable it. You can set either a Maven property (possibly in `pom.xml`) or a system property `jib.disableUpdateChecks` (possibly on the command) to true, in addition to editing the global Jib config file. Given that there's are easy ways to turn it off, and based on what I said earlier, I don't feel we really have to flip the default value, sorry. One reason we added t

[2021-07-22 19:00] chanseokoh opened #3352 "When building tar layers, user and group for automatically added parent directories are not explicitly reset"
This was discovered and analyzed in #3342.

We recursively add all parent directories of a file entry when assembling a tar for a layer, but we are not explicitly setting the user and group. The latest `commons-compress` 1.21 had a behavior change in that it picks up the user and group of a local directory, while previously they were set to `0:0` by default.

Regardless of whether `commons-compres

[2021-07-23 09:00] andreasf commented on #2458
In case anyone else comes across this issue while using the Maven plugin and a custom truststore, make sure to get the order of arguments to Maven right:

This will not work the first time it's run in a fresh container:
[code]

But this always works:
[code]

[2021-07-23 14:25] #3352 closed

[2021-07-24 16:08] CodingSpiderFox opened #3354 "Feature request: allow to run smoketest before push"
When building Spring Boot project's images, I just had a problem with a misconfig in the application.yaml where a wrong port was introduced and I didn't recognize that pre deploy.

I would be nice if there was an option for jib to start the container image and make a HTTP GET to a given URL (e.g. "/api/health") to the container and check for HTTP 200 result. If it does not succeed, the build shoul

[2021-07-26 05:06] hellozin opened #3356 "Cannot find JAR in outputDirectory path when using spring-boot-maven-plugin"
**Environment**:

- *Jib version:* 3.1.2
- *Build tool:* Maven 3.6.3
- *OS:* mac OS 10.15.7(19H2)

**Description of the issue**:

When I build(or dockerBuild) with below configuration shows up this error message.
`Obtaining project build output files failed; make sure you have packaged your project before trying to build the image. (Did you accidentally run "mvn clean jib:build" instead of "mvn cl

[2021-07-26 17:46] chanseokoh commented on #3170
It's interesting to note it will remain as a reliable read-only repo indefinitely.

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-07-27 15:04] Xaseron commented on #2715
I stumble upon the same issue. I'll try to explain the cause or what i think the cause is.

[code]
Kotlin converts getters and setters into properties.
there is a `getFrom` but no set from with the same signature, therefore getFrom is immutable (val).

 Line 109:                 from = "native-libs/linux-amd64"
                            ^ Val cannot be reassigned

Even if there would be a setter

[2021-07-27 16:02] elefeint commented on #3354
This seems like something you could do as part of your maven/gradle build -- if you bind Jib's execution to the `package` phase,  then you can start the container and run integration tests in `verify` [phase](https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html#a-build-lifecycle-is-made-up-of-phases). You may be interested in the [Testcontainers project](https://www.test

[2021-07-27 16:41] CodingSpiderFox commented on #3354
But how would I stop the image from being pushed when the smoketest fails if I bind Jib's execution to the package phase?

[2021-07-27 17:44] elefeint commented on #3354
You could [build a tarball](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#build-an-image-tarball) instead of pushing to a registry.

@chanseokoh There is no `--dry-run` or similar, right?

[2021-07-27 17:58] CodingSpiderFox commented on #3354
But then, if the smoketest succeeds, how would I push the images?

Run different profile for the tarball build first, then run the final profile? (I have 3 already for different tag names of the docker images (dev, staging, and ${project.version} for prod)

That would make the build config even more complex than it already is ... maybe there is another more simple solution?

[2021-07-27 18:24] chanseokoh commented on #3354
This definitely requires a container runtime (like Docker), and at this point, we have no plan to introduce any new features utilizing a container runtime (if such a runtime is available) going forward. I'd say it's on your own to devise effective tests, whether it's an integration test to actually run a container using Docker runtime, or a static structural test. Whether you bind Jib to the execu

[2021-07-27 18:54] CodingSpiderFox commented on #3354
Yes, I agree except the last part.

I had a problem where I had 4 profiles in my application.yml: local, dev, staging, prod.
I was changing the port for "local" but didn't recognize I hadn't specified the port for the dev profile.

To find such config mistakes, I think the only way is starting the container locally and making the request

[2021-07-27 20:58] chanseokoh commented on #3354
That's fair. Whatever it is, I'll just assume you have your reason to want to run a container after building it. So, as I explained earlier (which you seem to agree), you'll have to devise your own way to set up and run such tests, and I think currently there exist reasonable ways to make them work, perhaps with some clever use of Jib and Maven/Gradle bits.

For implementing any new feature around

[2021-07-27 21:48] chanseokoh commented on #2715
That may fix it, although I vaguely remember there might be a subtle issue with multiple `setFrom()` overrides. But I think ideally this should be resolved by having `ExtraDirectoryParameters.getFrom()` directly return `Property` as in #2727 and #3094.

[2021-07-27 22:17] #3354 closed

[2021-07-28 14:21] chanseokoh opened #3359 "Eliminate ErrorProne warnings"
Maybe new warnings after upgrading ErrorProne in #3355.

[code]

[code]

[code]

The following one needs careful verification.
[code]

[2021-07-28 20:01] TPrinceIsaac opened #3361 "failed: program arguments list contains null elements"
**Steps to reproduce:**

create maven project with pom.xml

run mvn compile jib:build -Djib.serialize=true
get error below

**Error:**

ERROR: Failed to execute goal com.google.cloud.tools:jib-maven-plugin:2.7.0:build (jib-build) on project foo-bar-xxxx-xxxxx: Execution jib-build of goal com.google.cloud.tools:jib-maven-plugin:2.7.0:build failed: program arguments list contains null elements -> [H

[2021-07-28 21:44] elefeint commented on #3361
@TPrinceIsaac This in itself is a legitimate validation issue. Can you provide a list of arguments on which it was triggered incorrectly?

[2021-07-28 22:00] chanseokoh commented on #3361
Particularly your [`<container><args>`](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#container-object) settings in your `pom.xml`.

And the latest Jib version is 3.1.2.

[2021-07-28 22:36] chanseokoh commented on #2715
That may fix it, although I vaguely remember there might be a subtle issue with multiple `setFrom()` overrides. But I think ideally this should be resolved by having `ExtraDirectoryParameters.getFrom()` directly return `Property` as in #2727 and #3094.

[2021-07-29 02:34] frozentank commented on #3238
I've been looking at this for a bit and while I'm not 100% sure (really the first time I've worked with Gradle) it looks like the underlying Gradle plugin: io.freefair.maven-plugin should already run the DescriptorGeneratorMojo Task. I expect this should generate the help Mojo during compilation.

As far as I can tell, the task is in the build cycle but the plugin isn't generating anything. We cou

[2021-07-29 13:51] aalmiray commented on #3238
FWIW I use

[code]

And it does create the help mojo.

[2021-07-29 16:14] elefeint commented on #3356
@hellozin Thank you for the report! We are trying to reproduce the issue.

[2021-07-29 21:22] chanseokoh commented on #3356
It's a bug (or limitation) in that the output directory is unaccounted for. Note that Jib doesn't use the repackaged Spring Boot fat JAR but a standard thin-JAR packaged by `maven-jar-plugin`. The current [code](https://github.com/GoogleContainerTools/jib/blob/cff014ea566eec0474727bc6c344ad5a92fb9123/jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/MavenProjectProperties.java#L545)

[2021-07-29 23:57] frozentank commented on #3238
I was able to take the Mojo generated by that plugin and do something similar. It's still a new Mojo, but it at least reads the generated plugin-help.xml then parses it into the help text. I'll pull together a unit test and send a push soon.

[2021-07-30 11:45] mzagar commented on #3146
@chanseokoh i managed to reproduce this and get logs - looks like read timeout occurs when pushing payload of only 11566 bytes.
using maven 3.8.1, adopt-openjdk16, jib 3.1.2

Strangely, when I test on some other project where I added layer >250MB in size timeout does not happen.
But on this project I can consistently reproduce this behavior.

[maven-jib-312-read-timeout-log.txt](https://github.com

[2021-07-31 19:30] frozentank commented on #3238
@meltsufin I added a PR request to address the issue it needs a review before it can be merged. Let me know if there's any issues.

[2021-07-31 19:36] aalmiray commented on #3238
One particular disadvantage of this approach is that any changes made to the mojos must be reflected on the HelpMojo, this is why it's preferred to generate the HelpMojo rather that having it as explicit source.

[2021-07-31 19:41] frozentank commented on #3238
I tried to work around that thought process by reading the generated descriptor and generating the help text from the XML. So while it's not ideal compared to having the entire Mojo generate at compile time, the checkstyles and testing requirements of this repository prevent the generated Mojo from being accepted.

[2021-07-31 20:12] aalmiray commented on #3238
Then I’d suggest adding the generated sources to a skip list, after all those sources are generated from templates not by a developer. The only caveat would be if generated sources become part of the source release or source jar (that would be really weird).

I guess what I’m trying to say is, if the tooling/conventions get in the way and force you down a path that’s not optional then challenge th

[2021-07-31 20:23] frozentank commented on #3238
Ok, I'll go back and hit it again.

[2021-08-02 15:15] chanseokoh commented on #3146
@mzagar I wasn't able to find anything wrong from the log. That's very weird if it's always timing out when pushing a container config. I'm very curious if this is reproducible with other registries. You can easily spin up a [local registry](https://hub.docker.com/_/registry) and test it like this:
[code]
and then once it's up and running,
[code]

[2021-08-02 15:16] chanseokoh commented on #3146
Correction: `-p5000:5000`, not `-p8080:8080`.

[2021-08-02 16:29] tpokki opened #3364 "Support username and password tokens from dockercfg auths"
**Environment**:

- *Jib version:* 3.1.2
- *Build tool:* maven 3.6.3
- *OS:* macOS

**Description of the issue**:
Jib is missing support for `username` and `password` fields in dockercfg auths block.
Example
[code]

**Expected behavior**:
Jib to pick up username and password fields from dockercfg (and not just `credHelper` and `auth`).

**Steps to reproduce**:

  1. Add username and password for y

[2021-08-02 18:00] chanseokoh commented on #3364
I think this is great. Create a PR (with a test), and we'll review it. Thanks a lot!

[2021-08-02 20:27] chanseokoh commented on #3364
Fixed by #3365.

[2021-08-02 20:27] #3364 closed

[2021-08-03 10:35] szhem opened #3372 "Move BuildFiles from jib-cli to jib-core"
Currently jib-core provides a functionality to create a `JibContainerBuilder` using expression like the following
[code]
However jib-cli allows a user to create a `JibContainerBuilder` by means of a configuration file using a declarative rather than an imperative style.
[code]
It will be very convenient
- to be able to use jib's build files from custom build scripts of non-java projects, but built

[2021-08-03 12:28] szhem opened #3373 "Publish jib-cli.jar to maven central"
It will be very convenient having jib-cli.jar to be published into maven central to be able to download it with maven dependency resolution tools.

[2021-08-03 14:53] mzagar commented on #3146
I tried it several times running docker registry both on my laptop and on remote machine and I could not reproduce the socket read timeout.

Interestingly, in original issue report provided by @t-kap I can see that exact same Artifactory version is mentioned as in my repro case (`x-jfrog-version: Artifactory/7.15.4 71504900`) -- now starting to suspect this is some issue on artifactory side.

I op

[2021-08-03 16:12] chanseokoh commented on #3146
Ah, I also noticed another common symptom between @mzagar @t-kap and @mr-exz. As @mzagar mentioned, it's timing out when uploading a tiny container config JSON (of size 11566). For other fat layers, they uploaded successfully.

Also in @mr-exz's initial report, the timeout is when uploading a container config of size 11396.
[code]
We mistakenly assumed from the user speculation that it is a genera

[2021-08-03 16:40] Alexander-Betz opened #3375 "Every layer is rebuild even if there is no source code change"
I'm using jib-maven-plugin with version 3.1.2 and have the following added to my pom file:
[code]
and I use the following command to build and push an image:
[code]
in my Github Actions CI/CD pipeline.

But even if I don't have any source code changes all layers are rebuild and the image is pushed:
[code]
To my understanding no layer should be rebuild since there was no change and if I only change

[2021-08-03 16:45] chanseokoh commented on #3375
@Alexander-Betz if what you said is right, then it will be a critical regression. But note that the `INFO` messages (`Building ... layer`) are general progression messages always printed. It doesn't mean that layer tarball are re-assembled.

Do you have concrete evidence that the same layers are rebuilt or repushed?

[2021-08-03 17:30] Alexander-Betz commented on #3375
@chanseokoh Okay, good to know. I thought if the messages say "Building ... layer" then it's rebuild from scratch. Then maybe that's not the case for me.

But regarding image push: yes, even if there is no change (I just do a dummy commit) the image is pushed to Google Container Registry and I see the new image there.

[2021-08-03 20:56] chanseokoh commented on #3375
Can't reproduce this.
[code]
I can verify that the image is uploaded to GCR 4 minutes ago.
![image](https://user-images.githubusercontent.com/10523105/128084490-192af58d-7146-4037-ac3c-0ac84eb6d347.png)

Now I run Jib a couple more times. Note that it is super fast for these operations. (What is uploaded is only a manifest, which is a tiny JSON file.)
[code]

I see that the image has just been upl

[2021-08-03 22:28] chanseokoh commented on #3372
Thanks for the feedback. I think I should explain the current situation first.

`BuildFiles` is a higher-level abstraction built on top of jib-core, only relevant and specific to jib-cli. That is, at the moment, jib-core doesn't know or have to know anything about `BuildFiles`. There is a lower-level construct in jib-core called [`ContainerBuildPlan`](https://github.com/GoogleContainerTools/jib/bl

[2021-08-03 22:42] chanseokoh commented on #3375
BTW, `latest` in `-Djib.to.tags=latest,another_tag` is unnecessary. (We regret that we didn't name the parameter as `jib.to.additionalTags`.) `-Djib.from.image=eu.gcr.io/project_id/image_name` already implies `-Djib.from.image=eu.gcr.io/project_id/image_name:latest`.

[2021-08-04 07:13] mzagar commented on #3146
yes, the issue happens regardless of this setting.

[2021-08-04 07:43] szhem commented on #3372
@chanseokoh Thanks a lot for the answer. In that case could you please consider publishing `jib-cli.jar` into maven central repository then?

[2021-08-04 16:44] Alexander-Betz commented on #3375
Thank you for the detailed example and information.

I see that you didn't include `-Djib.from.image=gcr.io/<GCP project>/foo` in your command. But in my case this is necessary right?

Because how I understand it is that since I'm running Jib in my Github Actions workflow runs:
- with `-Djib.from.image=eu.gcr.io/project_id/image_name` I'm pulling the latest image from GCR and use it as base image

[2021-08-05 05:41] frozentank commented on #3238
I'm at loss for this one. Someone else can take this as I can't find a clear solution without creating a new plugin to perform the same task.

[2021-08-05 13:13] chanseokoh commented on #3375
You misunderstood what a base image is. It doesn't make sense to set both `jib.from.image` and `jib.to image` to the same image. You build a new image by adding layers of your application (classes, resources, ...) on top of a base image. Then, what you did was to use that new image as a base image and put the same application layers on top of that. That is, now you have duplicate layers. You have

[2021-08-05 13:13] #3375 closed

[2021-08-05 14:12] chanseokoh commented on #3372
I'll close this issue for now, but anyone is welcome to leave feedback if they really want to see this happen.

For publishing jib-cli.jar to Maven Central, please discuss it in #3373.

[2021-08-05 14:12] #3372 closed

[2021-08-05 18:08] chanseokoh commented on #3146
Thanks. Keep up updated for the Artifactory ticket.

[2021-08-05 19:21] chanseokoh commented on #3361
Closing. The cause is that one of the `<container><args>` values is null.

[2021-08-05 19:21] #3361 closed

[2021-08-06 07:43] tom-haines commented on #2751
@chanseokoh if relevant, whilst docker exporter `does not currently support exporting manifest lists` it does allow to output tar bundles, but only supports one platform at a time.

Example buildx commands re `amd64` first, and `arm64` at end:

[code]

output:
[code]

[code]

output:
[code]

any platforms available via `docker buildx build` can be saved locally.

example
[code]

It seems to suppor

[2021-08-06 07:46] tom-haines commented on #2744
added some local tar buildx image info on [issue #2751](https://github.com/GoogleContainerTools/jib/issues/2751#issuecomment-894071138) if relevant

[2021-08-06 07:49] tom-haines commented on #2743
this looks closely related to [issue #2751](https://github.com/GoogleContainerTools/jib/issues/2751)

[2021-08-06 15:29] chanseokoh commented on #2743
Thanks for the info in #2751. That's great!

Just for more clarification:

These two are related, but also largely orthogonal. This issue is about what how to push multi-arch images to a local Docker daemon or create a tar in which format. It's only relevant with the `jib:dockerBuild` and `jib:buildTar` the goals, where multi-arch image building is simply not possible.

#2751 is only about how to

[2021-08-06 15:32] chanseokoh commented on #2744
@tom-haines thanks for the info!

[2021-08-06 19:22] chanseokoh commented on #2751
@tom-haines thanks for the info!

[2021-08-06 19:25] chanseokoh commented on #3373
Currently, we have no plan to publish jib-cli to Maven Central but will this issue open.

[2021-08-07 23:10] LeaTaka commented on #2742
Any progress on this?

I like to decouple the choice of platform from my app.
So for example this would be handy -->
-Djib.from.image=arm32v7/adoptopenjdk:11-jre-hotspot
-Djib.from.platforms.platform.architecture=arm
-Djib.from.platforms.platform.os=linux

[2021-08-09 06:40] rainyShine commented on #3359
Hello, I would like to contribute to this issue.
Could you assign this to me?

[2021-08-09 13:55] goto1134 commented on #2336
update: use [jib-spring-boot-extension](https://github.com/GoogleContainerTools/jib-extensions/tree/master/first-party/jib-spring-boot-extension-maven) to exclude spring-boot-devtools

[2021-08-09 14:20] chanseokoh commented on #3359
@rainyShine sure, thanks for your interest! There may be more warnings than what I recorded here.

[2021-08-09 15:06] rainyShine commented on #3359
Thank you for assigning me.

I have come up with a solution for the part where the warning occurs in UnrecognizedJavadocTag and CatchFail.

- UnrecognizedJavadocTag part: Enclose each with {@code}.

- CatchFail part: Modify according to the following link.
[https://errorprone.info/bugpattern/CatchFail](https://errorprone.info/bugpattern/CatchFail)

**However, regarding the @Inject part, although t

[2021-08-09 15:07] chanseokoh commented on #3359
Ah, I think we need to be careful about the `@Inject` warnings. Let's not touch that. I'll need to look into it later.

[2021-08-09 15:22] XhstormR opened #3396 "class org.gradle.api.internal.provider.DefaultProperty cannot be cast to class java.lang.String"
**Environment**:

- *Jib version:* 3.1.2
- *Build tool:*  Gradle 7.1.1
- *OS:* MacOs 11.5.1

**Description of the issue**:
run `./gradlew web:jibBuildTar` and it fails.

**Expected behavior**:
run `./gradlew web:jibBuildTar` and it success.

**Steps to reproduce**:

  1. ./gradlew web:jibBuildTar --stacktrace

**`jib-gradle-plugin` Configuration**:

.../buildSrc/src/main/kotlin/jib.gradle.kts :
[c

[2021-08-09 15:33] XhstormR commented on #3396
After I check the code https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/GradleProjectProperties.java#L373

I change this:
[code]
to this and it success:
[code]

Maybe we should call the toString method of the property instead of directly cast as String.

[2021-08-09 16:24] chanseokoh commented on #3396
Ah, yeah, that's a good idea. Can you try with Gradle 6 or even 5? Should be easy to do by initializing a wrapper like `./gradlew wrapper --gradle-version=6.4`.

[2021-08-09 21:07] dzou commented on #3238
Thank you for giving this a try. I'll keep this issue open and see if anyone else is interested in trying to implement this feature.

[2021-08-09 22:20] chanseokoh commented on #3396
Thanks for the report.

I learned that `toString()` doesn't work either, as it doesn't return the string value it holds. What it returns is a human-readable description: `extension 'application' property 'mainClass'`.

I'd say this is a current limitation of Jib. For now, you can do `manifest.attributes["Main-Class"] = application.mainClass.get()`. You can also set [`jib.container.massClass`](http

[2021-08-09 22:33] chanseokoh commented on #2742
If your main goal is to decouple the platform settings, then for now, you can easily [parameterize](https://stackoverflow.com/questions/7513319/passing-command-line-arguments-from-maven-as-properties-in-pom-xml) them through Maven properties with default values.

[2021-08-10 12:58] thomas-z-meyer-db opened #3399 "jib maven plugin build fails sometime with PATCH 404 not found"
**Environment**:

- *Jib version:* 3.1.2
- *Build tool:* Apache Maven 3.6.3
- *OS:* OS name: "linux", version: "5.4.104+", arch: "amd64", family: "unix"

**Description of the issue**:

maven jib:build sometimes fails to upload an image layer with "PATCH https://artifactory/v2/dkr-repo/image/blobs/uploads/98fb9ada-ee1b-481b-aac4-cf67c74f850a" 404 Not Found

**Expected behavior**:

jib:build should

[2021-08-10 20:56] chanseokoh commented on #3399
The patch location (the upload URL with the digest given by the registry)

[code]

is what the registry informed Jib to use just before uploading, so it doesn't make sense that the registry says 404 (i.e., the page/URL doesn't exist). Jib simply [takes and uses the given patch URL]( https://github.com/GoogleContainerTools/jib/blob/61376165b6d4ff7996ebcd66260552907360c646/jib-core/src/main/java/com

[2021-08-11 08:04] LeaTaka commented on #2742
Hey, thanks for your reply!

I use parameterization for most settings, however for the deeply nested platform settings like 'architecture' and 'os', I can't get it to work. In my example below I'll show you what works and what doesn't.

POM settings that work well:
  <from>
    <image>arm32v7/adoptopenjdk:11-jre-hotspot</image>
    <platforms>
      <platform>
        <architecture>arm</architectu

[2021-08-11 16:42] github-actions[bot] opened #3405 "Plugin Release v3.1.3-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.1.3` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-08-11 16:42] github-actions[bot] opened #3407 "Plugin Release v3.1.3-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.1.3` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-08-11 21:38] chanseokoh commented on #3058
@daxroc @paulolieuthier @tburch @adamthalhammer @mattupstate @edgarvonk @evandroabukamel FYI, we released Jib plugins 3.1.3 after upgrading Google HTTP Client to 1.39.2.

However, 1.39.2 doesn't seem to change the Apache HTTP Client versions from [what they where in Jib 2.8.0](https://github.com/GoogleContainerTools/jib/issues/3058#issuecomment-793122490) (which used Google HTTP Client 1.38.1).
[c

[2021-08-12 06:18] rmaclean-ee opened #3409 "Premature end of chunk coded message body after upgrading to 3.1.3"
**Environment**:

- *Jib version:* 3.1.3
- *Build tool:* Gradle 7.1 (using jib plugin 3.1.3)
- *OS:* Linux via Gitlab pipelines

**Description of the issue**:
Upgraded from 3.1.2 to 3.1.3 and now getting an error when pulling an image from GCR

[code]

This causes it to completely fail

**Expected behavior**:

It would still work the same from 3.1.2

**Steps to reproduce**:

  1. Upgrade to 3.1.3

[2021-08-12 14:04] chanseokoh commented on #3409
Maybe this is because we upgraded Google HTTP Client library. #3387 😫

[2021-08-12 14:17] chanseokoh commented on #3409
@rmaclean-ee @abithgs @creekpld I can't reproduce it. Can anyone give us detailed HTTP logs by following [these instructions](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#how-can-i-examine-network-traffic) also with `--debug`?

[2021-08-12 14:22] rmaclean-ee commented on #3409
yes

can you expand what you mean by these?

[2021-08-12 14:25] chanseokoh commented on #3409
You said this is on a GitLab pipeline, so I was referring to that as remote. "Locally" means running Jib on your machine to connect to GCR.

[2021-08-12 15:14] ChristianCiach commented on #3409
@chanseokoh I can provide you with the logs, but these are huge and contain tons of sensitive information. Even if I try to censor the most sensitive data, I am afraid it may still contain too much to share publicly.

[2021-08-12 15:40] chanseokoh commented on #3409
@ChristianCiach it should be enough to give us the small portion around the failure point. (If needed, I can ask more.) Then it'd be easy to scrub sensitive information?

[2021-08-12 16:07] racevedoo commented on #3058
Tested with jib 3.1.3 without forcing dependencies, got the same problem.

[2021-08-12 18:12] mjustin commented on #2950
It looks like this might be the same issue that was mentioned at https://github.com/GoogleContainerTools/jib/issues/1103#issuecomment-427361839:

[2021-08-12 18:20] chanseokoh commented on #3409
@ChristianCiach did you supply `-Djib.serialize=true`? Thinks look concurrent, and that confuses me a bit.

[2021-08-12 18:24] ChristianCiach commented on #3409
@chanseokoh Executed command was:

[code]

With the `logging.properties` as described in https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#how-can-i-examine-network-traffic.

The log looks reasonable to me. I can reproduce it anytime if you need me to change anything.

[2021-08-12 18:30] ChristianCiach commented on #3409
I just notice that my issue doesn't seem to be *exactly* the same as described in this issues. Nowhere in my logs does it say `Premature end of chunk coded message body: closing chunk expected`. Instead I get `Premature end of Content-Length delimited message body (expected: 2; received: 0)`.

But I guess it's probably caused by the same underlying issue.

[2021-08-12 18:46] chanseokoh commented on #3409
Okay, it helped to confirm the command. I can explain why it failed. It's just that I'm trying to track down why this started to happen in the newer HTTP library version.

Jib contacts `https://target-registry.local/v2/`, and the server (nginx, the reverse proxy) responds with 200.
[code]
What's unusual is that, it says that the length of the body the server will return is 2 (`Content-Length: 2`).

[2021-08-12 18:56] ChristianCiach commented on #3409
That's right, the issue only happens with 3.1.3. Everything works fine with 3.1.2.

I pretty much have come to the same conclusions as you have. Which got me thinking: Does the target-registry-server also reports `Content-Length: 2` when using the previous version of Jib? Turns out, it does! But Jib 3.1.2 doesn't seem to care.

...

After I've written the previous paragraghs, I've tried the curl c

[2021-08-12 19:07] chanseokoh commented on #3409
So do you see `{}` logged when using Jib 3.1.2?

[2021-08-12 19:13] chanseokoh commented on #3409
Thanks a lot for debugging. I don't see any change in the Apache HTTP libraries, so I wonder if this is due to some changes in Google HTTP libraries. Using the method [here](https://github.com/GoogleContainerTools/jib/issues/3058#issuecomment-793122490), you'll be able to force the HTTP libraries versions in 3.1.2 (described as 2.8.0 dependencies in the link). Can you force the old versions and se

[2021-08-12 19:14] chanseokoh commented on #3409
In any case, not seeing `{}` is the root cause, and I think that should be fixed eventually. Maybe the reverse proxy is not working correctly?

[2021-08-12 19:18] ChristianCiach commented on #3409
Using Jib 3.1.3 and the "2.8.0" dependencies does work without issues.

I don't think this is the case. As I said: When I execute the *exact same* curl command that Jib logs as the `REQUEST`, I can see the `{}` just fine. So why can't jib?

[2021-08-12 19:22] chanseokoh commented on #3409
Ah, sorry. I mistakenly thought the curl was against the target registry and not through the proxy. What you said makes sense. Something definitely happened in the upgraded HTTP libraries. I also wonder why `{}` isn't logged in both 3.1.2 and 3.1.3.

[2021-08-12 19:23] ChristianCiach commented on #3409
Works with

[code]

Does not work with
[code]

That should narrow it down...

[2021-08-12 19:33] ChristianCiach commented on #3409
I kinda suspect this one to be the culprit: https://github.com/googleapis/google-http-java-client/commit/f84ed5964f376ada5eb724a3d1f3ac526d31d9c5

I have no hard proof for that, but the exception *does* happen when closing the stream:
[code]

Sorry for the comment spam.

By the way, I really appreciate your help @chanseokoh

[2021-08-12 19:41] chanseokoh commented on #3409
That looks like it! It's from `ignore()`, and the comment does say that it now closes the connection before closing the input stream.

I think at this point perhaps we should just revert the HTTP libraries to old versions. Maybe the versions used in Jib 2.7.0 to also resolve the perplexing #3058.

Really appreciate your help with debugging this.

[2021-08-12 20:05] ChristianCiach commented on #3409
Just to make absolutely sure, I've just compiled my own version of google-http-client with https://github.com/googleapis/google-http-java-client/commit/f84ed5964f376ada5eb724a3d1f3ac526d31d9c5 reverted. I can confirm that this commit is the cause of the issue.

[2021-08-13 10:40] breun commented on #3409
I also have this issue with the Jib Maven plugin after upgrading from 3.1.2 to 3.1.3, but it seems like you have already found what the issue is.

[2021-08-13 14:47] chanseokoh opened #3416 "Cannot upgrade Google HTTP libraries"
#3415 downgraded Google HTTP libraries to resolve #3058 and #3409. However, we cannot delay upgrading libraries indefinitely.

Moreover, even if we downgraded them, Gradle and Maven can still pull in newer versions depending on how a project is set up. Examples:
- https://github.com/GoogleContainerTools/jib/issues/3409#issuecomment-902360557
- https://github.com/GoogleContainerTools/jib/issues/305

[2021-08-13 15:53] chanseokoh commented on #3058
Re-opening as the root cause is still unknown.

[2021-08-13 16:54] suztomo commented on #3416
I assume the challenge is that we cannot reproduce the problem. Is this correct?

[2021-08-13 17:09] chanseokoh commented on #3416
For #3058, yeah, I haven't able to reproduce it. And the root cause is still unknown. Also perplexing is that it's always Gradle.

For #3409, I think I know what exactly is the problem, but I have trouble reproducing this.

[2021-08-13 17:11] chanseokoh commented on #3409
@ChristianCiach what's the target registry? And just asking, is there an easy way for me to set it up?

[2021-08-13 17:34] ChristianCiach commented on #3409
@chanseokoh These are some tough questions, because I am not the one who set up the registry. Fortunately I do have SSH access to the server, so let's see what I can found out.

Surprisingly (and sorry for unintentionally lying about this yesterday) the registry itself and nginx are not deployed as containers, but as native packages:

[code]

There are actually **two** reverse proxies (apache and

[2021-08-13 17:39] ChristianCiach commented on #3409
Maybe this is the crucial part to be able to reproduce it?:

[code]

[2021-08-13 17:47] vpavic opened #3419 "Consider publishing Jib CLI to SDKMAN"
SDKMAN is a very popular tool for managing various SDKs for the JVM. The list of currently available SDKs can be seen [here](https://sdkman.io/sdks).

Jib CLI seems like a natural fit for the SDKMAN, and I'm pretty sure its presence on the SDKMAN would help increase adoption.

[2021-08-13 19:09] chanseokoh commented on #3409
@ChristianCiach It seems infeasible for me to reconstruct your environment :( Instead, can you try these on your machine?
[code]

All it does is to make a GET request using Google HTTP 1.39.2 like how Jib does.
[code]

[2021-08-13 19:14] ChristianCiach commented on #3409
There you go:

[code]

I do have an idea how you should be able to recreate the issue, just by using a simple docker-compose setup with two containers. Give me a few minutes to try that...

[2021-08-13 19:26] chanseokoh commented on #3409
Thanks for trying! Much appreciated. I was also trying to reproduce this with a simple HTTP server locally, but the problem so far is that [`read()` in the Apache library](https://github.com/apache/httpcomponents-core/blob/05d914304ecf41c263cbcb6bcea86e121d2a0bdd/httpcore/src/main/java/org/apache/http/impl/io/ContentLengthInputStream.java#L176-L180) doesn't return -1 (which is a prerequisite for t

[2021-08-13 19:32] ChristianCiach commented on #3409
By the way, the new retry mechanism is annoying. I am using `allowInsecureRegistries=true` for local testing, but it takes multiple minutes for Jib to finally switch from https to plain http:

[code]

Sorry for being off-topic, but this is the reason why it takes some time to create a reproducable example for you.

I am still sceptical about that. Even with verbose output of curl I don't see anyth

[2021-08-13 19:35] chanseokoh commented on #3409
Ah, I failed to anticipate the problem of retrying when `allowInsecureRegistries=true`. Need to think about how to resolve it.

About retrying, maybe you can use Jib 3.1.2 while forcing Google HTTP 1.39.2?

[2021-08-13 19:41] chanseokoh opened #3422 "Network retry on IOException (new in Jib 3.1.3) significantly slows down insecure registry failover (allowInsecureRegistries=true)"
Problem identified in https://github.com/GoogleContainerTools/jib/issues/3409#issuecomment-898677291.

We implemented retrying in #3351 (and a clean-up #3390) but overlook the issue when `allowInsecureRegistries=true`, where insecure connection failover depends on `SSLException` (a subclass of `IOException`). Consequently, HTTP failover can happen only after exhausting retrying.
[code]

[2021-08-13 19:53] chanseokoh commented on #3409
FTR: https://github.com/googleapis/google-http-java-client/issues/1409

[2021-08-13 20:16] chanseokoh commented on #3422
What a bummer. My idea was to disable retrying if `SSLException` (almost all the time not a retryable situation), but not possible due to https://github.com/googleapis/google-http-java-client/issues/251.

[2021-08-13 20:44] ChristianCiach commented on #3409
Incredible... I can reproduce the issue, but only with ancient Apache httpd versions (up to `2.4.18`, works starting with `2.4.20` (there doesn't seem to be a `2.4.19`)) and only when using SSL (dummy certs work fine to reproduce the issue).

It has nothing to do with the nginx or the registry. Even when just serving files, Google-HttpClient requesting https://localhost running an ancient Apache h

[2021-08-13 21:00] ChristianCiach commented on #3409
I want to mention again that I've never seen the error message `Premature end of chunk coded message body` from the original description of this Github issue. While I think that these issues are closely related, the other error message probably needs another server setup to reproduce.

[2021-08-13 21:06] ChristianCiach commented on #3409
One more comment:

The issue can also be seen by just connecting your client from https://github.com/chanseokoh/docker-hub-upload-speed-test (branch jib-i3409-debug) to https://eu.gcr.io/ (as shown in the original issue description):

[code]

Have a nice weekend!!

[2021-08-13 21:20] chanseokoh commented on #3409
@ChristianCiach that is an incredible detective work!

I was really surprised to hear this, because I did try `gcr.io` and didn't hit the original issue. Turns out, running the code inside my IDE doesn't trigger it, but it does when running from the command-line! Now it became apparent that this is a critical issue that the Google HTTP library should fix.

[2021-08-16 14:13] suztomo commented on #3419
@vpavic I'm new to SDKMAN. It seems that the tool allows users to have different versions of the tools listed there. I want to know more about that. Would you  describe your situation where you encountered issues where you only had one version of Jib CLI?

[2021-08-16 15:51] chanseokoh commented on #2742
So what I was talking about was to use standard Maven features to accomplish the same effect of using built-in Jib system and Maven properties. For the built-in Jib properties, our code reads system and Maven properties like [this](https://github.com/GoogleContainerTools/jib/blob/4cd234ad796329dd8b98cfd225f93ce08fb98ecf/jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/JibPluginConfi

[2021-08-16 19:38] vpavic commented on #3419
I'm not sure if I understand this right.

There are no issues - rather than managing my local Jib CLI installation manually, I'd like to have it managed by SDKMAN, just like I have it with a number of tools listed on [sdkman.io](https://sdkman.io/sdks).

[2021-08-16 21:48] #3422 closed

[2021-08-16 21:54] github-actions[bot] opened #3431 "Plugin Release v3.1.4-gradle"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-gradle-plugin/scripts/update_gcs_latest.sh 3.1.4` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerToo

[2021-08-16 21:55] github-actions[bot] opened #3433 "Plugin Release v3.1.4-maven"
## Requirements
- [x] ⚠️ Ensure the release process has succeeded before proceeding

## GCS
- [x] Run `./jib-maven-plugin/scripts/update_gcs_latest.sh 3.1.4` script to update GCS with the latest version number

## Github
- [x] Update [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/CHANGELOG.md)
- [x] Update [README.md](https://github.com/GoogleContainerTools

[2021-08-16 22:28] chanseokoh commented on #3409
Downgraded the Google HTTP libraries versions to 1.34.0 in #3415 to avoid this issue. Closing.

[2021-08-16 22:28] #3409 closed

[2021-08-16 22:31] chanseokoh commented on #3405
Essential tasks completed. Rest will be taken care of in #3433.

[2021-08-16 22:31] #3405 closed

[2021-08-16 22:31] chanseokoh commented on #3407
Essential tasks completed. Rest will be taken care of in #3431.

[2021-08-16 22:31] #3407 closed

[2021-08-17 14:15] chanseokoh commented on #3409
@rmaclean-ee @ChristianCiach @steven-sheehy @danilofnmoreira @abithgs @creekpld @yuri-sergiichuk @nhmarujo
@ikorolev93 @olivierchedru @osigida

We just released Jib plugins 3.1.4 which downgraded Google HTTP libraries to 1.34.0. I expect the new release will avoid the issue.

[2021-08-17 14:28] chanseokoh commented on #3058
@daxroc @racevedoo @paulolieuthier @tburch @adamthalhammer @mattupstate @edgarvonk @evandroabukamel

So we decided to downgrade Google HTTP libraries to 1.34.0. We just released Jib plugins 3.1.4 with the downgraded versions, which should avoid the issue.

To signal that the latest Jib versions shouldn't hit this issue, I'll close this. #3416 is open for tracking.

[2021-08-17 14:28] #3058 closed

[2021-08-17 14:34] suztomo commented on #3419
Good. Glad to hear you're not having a problem. Thank you for clarification.